.modal-modulo3{
    width: 900px;
    height: 700px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #3F115F;
    border-radius: 15px;
    padding: 1%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}
.botao_pergunta button{
    width: 95%;
    height: 40px;
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 20px;
    background-color: #B429E6 ;
    color: #fff;
    cursor: pointer;
}

.adicionarLink3{
    display: flex;
    padding: 2%;
    background-color: #B05CEF;
    color: #fff;
    border-radius: 20px;
    transform: translate(680px, -200%);
    cursor: pointer;
}

@media screen and (max-width: 1200px){

}

@media screen and (max-width: 1024px){
    
}

@media screen and (max-width: 768px){
    
}

/* @media screen and (max-width: 560px){
    
} */

@media screen and (max-width: 480px){
    
}

@media screen and (max-width: 280px){
    
}