.box_CriarSala{
    width: 60%;
    height: 680px;
    background-color: #3B0B5A;
    border-radius: 5px;
    border: 1px solid #E1BBFD;
    margin: 0;
    padding: 2%;
    transform: translate(320px, 2%);   
    color: #fff;
}
.box_CriarSala h2{
    color: #CD41FF;
    /* font-family: 'Inter', sans-serif; */
    font-weight: 700;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 30px; 
    margin-bottom: 50px;
} 
.banner_CriarSala{
    width: 270px;
    height: 120px;
    background-color:#5B2182;
    border-radius: 5px;
    margin-bottom: 30px;
}