@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&family=Poppins:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* css do menu lateral */

nav{
    width: 90px;
    height: 100%;
    background-color: #0E0E0E;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* position: fixed; */
}

.lista_dashboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.lista_dashboard li{
    list-style: none;
    margin: 10% 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon_menu{
    width: 50px;
}

#icon_usuario_menu{
    margin-bottom: 10%;
}

/* css do menu lateral */

.footer_geral{
    color: #969696;
    background-color: #3B0B5A;
    text-align: center;
    padding: 1% 0;
}





