@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&family=Poppins:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* css do menu lateral */

nav{
    width: 90px;
    height: 100%;
    max-height: 1550px;
    background-color: #0E0E0E;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

.lista_dashboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.lista_dashboard li{
    list-style: none;
    margin: 10% 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon_menu{
    width: 50px;
}

#icon_usuario_menu{
    margin-bottom: 10%;
}

/* css do menu lateral */


#box_info_dashboard{
    width: 100%;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#box_info_dashboard img{
    width: 584px;
}

#box_perfil{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#box_info_perfil{
    width: 100%;
    display: flex;
    align-items: center;
}

#info_perfil{
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 2%;
}

#info_perfil p{
    text-align: right;
    color: #fff;
    font-size: 12px;
}

#txt_perfil{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#txt_perfil h3{
    font-size: 35px;
    color: #fff;
}

#txt_perfil p{
    background-color: #9200FF;
    width: 100px;
    height: 20px;
    text-align: center;
    border-radius: 8px;
    font-size: 14px;
    color: #fff;
    /* margin-top: 10px; */
}

#box_info_perfil img{
    width: 130px;
}

#barra_progresso{
    width: 100%;
    height: 20px;
    border-radius: 10px;
    background-color: #C881FD;
}


/* Código da barra de pesquisa */

.search-container {
    position: relative;
    width: 400px;
    margin: 0 auto;
}

.search-container input[type="search"] {
    width: 400px;
    padding: 10px 30px 10px 10px;
    border: 1px solid #B05CEF;
    border-radius: 120px;
    background-color: transparent;
    outline: none;
    color: #fff;
}

.search-container i.fas.fa-search {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #B05CEF;
    cursor: pointer;
}

/* Código da barra de pesquisa */

.footer_geral{
    color: #969696;
    background-color: #3B0B5A;
    text-align: center;
    padding: 1% 0;
}





