@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
html, body{
    width: 100%;
    max-width: 1366px;
    /* height: 100%;
    max-height: 641px;
    overflow-y: auto; */
    margin: 0 auto;
    /* background-image: url('../img/fundo_top.png');
    background-repeat: no-repeat;
    background-size: 100% 100%; */
    background-color: #1D0D28;
}

header{
    background-image: url('../img/teste.png');
    width: 100%;
    height: 235px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    display: flex;
    justify-content: space-between;
}

.box_trilhas{
    width: 90%;
    margin: 2% auto;
}

.txt_trilhas_cursos{
    display: flex;
    align-items: center;
}

.txt_trilhas_cursos h2{
    color: #B05CEF;
    margin-bottom: 1%;
}

#icon_trilha{
    width: 30px !important;
    margin-bottom: 1%;
}

#box_exemplos_cursos{
    margin: 2% 0;
}

.multiple-items img{
    width: 400px !important;
    border-radius: 10px;
}

.multiple-items a{
    margin-right: 2% !important;
}

.multiple-items, .multiple-items-cursos{
    display: flex;
    justify-content: space-between;
    width: 100%;
    overflow-x: scroll;
}

.multiple-items::-webkit-scrollbar{
    height: 7px;
}

.multiple-items::-webkit-scrollbar-thumb {
    background-color: #B05CEF;
    border-radius: 3.5px;
    cursor: pointer;
}

.multiple-items-cursos::-webkit-scrollbar{
    height: 7px;
}

.multiple-items-cursos::-webkit-scrollbar-thumb {
    background-color: #B05CEF;
    border-radius: 3.5px;
    cursor: pointer;
}

.multiple-items-cursos img{
    width: 300px !important;
    border-radius: 10px;
}

.multiple-items-cursos a{
    margin-right: 2% !important;
}





@media screen and (max-width: 1181px){
    html, body{
        font-size: 15px;
    }

    #txt_perfil h3{
        font-size: 30px;
    }

    #info_perfil p{
        font-size: 12px;
    }

    .footer_geral p{
        font-size: 15px;
    }
}
 
@media screen and (max-width: 1121px){
    html, body{
        font-size: 12px;
    }
    .footer_geral p{
        font-size: 12px;
    }
}

@media screen and (max-width: 1048px){
    .multiple-items img{
        width: 350px !important;
        border-radius: 10px;
    }
    .box_trilhas{
        width: 85%;
    }

    
}
 
@media screen and (max-width: 847px){
    #logo-descrita{
        width: 450px !important;
    }

}



@media screen and (max-width: 705px){
    .multiple-items img{
        width: 300px !important;
        border-radius: 10px;
    }
    .box_trilhas{
        width: 75%;
    }
    #logo-descrita{
        width: 350px !important;
    }
}

@media screen and (max-width: 600px){
    .box_trilhas{
        width: 100%;
        margin: 5% auto;
        padding-left: 5%;
    }

    #logo-descrita{
        width: 300px !important;
    }

    #box_info_perfil img{
        width: 90px !important;
    }

    #box_info_perfil p{
        font-size: 10px;
    }
    
    #barra_progresso{
        width: 100% !important;
        height: 15px !important;
    }

    #info_perfil{
        width: 150px !important;
    }
    
    #info_perfil p{
        
        font-size: 8px !important;
    }

    #txt_perfil h3{
        font-size: 18px !important;
    }

    #txt_perfil p{
        background-color: #9200FF;
        width: 60px !important;
        height: 12px !important;
        text-align: center;
    }

}