html, body{
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
}

#box_center{
    width: 95%;
    margin: auto;
    display: none;
    flex-direction: column;
    align-items: center;
    padding-top: 6%;
}

#box_login{
    width: 450px;
    height: 400px;
    background-color: #fff;
    border-radius: 15px;
    margin-top: 40px;
    padding: 1%;
    position: absolute;
}

#box_login h2{
    color: #3B0B5A;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-align: center;
    margin-top: 3%;
}

#form_login{
    width: 90%;
    margin: auto;
    text-align: center;
}

#form_login label{
    display: block;
    margin-top: 10%;
    color: #6404A3;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-align: left;
}

#form_login input[type='text'], #form_login input[type='password']{
    display: block;
    width: 100%;
    height: 40px;
    margin-top: 1%;
    margin-bottom: 3%;
    border: 1px solid #280036;
    border-radius: 8px;
    padding-left: 2%;
}

#form_login input[type='submit']{
    display: block;
    width: 80%;
    height: 40px;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
    border: none;
    border-radius: 18px;
    background-color: #3C2245;
    cursor: pointer;
    color: #fff;
}

#form_login a{
    color: #B05CEF;
    margin-top: 10%;
    text-decoration: none;
}

#box_name_plataform{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-top: 0;
    color: #B05CEF;
}

.line{
    width: 40%;
    font-size: 1px;
    border-bottom: 1px solid #B05CEF;
}

#footer_login{
    color: #969696;
    text-align: center;
    padding: 1% 0;
    padding-top: 0;
}

.fundo-pixel {
    background-image: url('../img/fundo-pixel-down-2.png');
    /* background-repeat: no-repeat;
    background-size: 100%; */
    width: 100%;
    height: 370px;
    margin-top: 215px;
}

@media screen and (max-width: 1200px){
    #box_login{
        margin-top: 80px;
        width: 410px;
        height: 360px;
    }

    #form_login input[type='submit']{
        font-size: 12px;
    }
    
    #form_login a{
        font-size: 12px;
    }
}

@media screen and (max-width: 768px){
    #box_login{
        margin-top: 100px;
        width: 370px;
        height: 340px;
    }

    #form_login input[type='submit']{
        font-size: 10px;
    }
    
    #form_login a{
        font-size: 10px;
    }
}

@media screen and (max-width: 398px){
    #box_center{
        width: 95%;
        margin: auto;
        margin-top: 15%;
        display: none;
        flex-direction: column;
        align-items: center;
        padding-top: 6%;
    }
    
    #box_login{
        width: 100%;
        height: 320px;
        background-color: #fff;
        border-radius: 15px;
        margin-top: 40px;
        padding: 1%;
        position: relative !important;
    }
    
    #box_name_plataform{
        font-size: 9px;
        margin-top: 180px;
    }
    
    #footer_login{
        font-size: 9px;
    }
    
    .fundo-pixel {
        background-image: none !important;
        width: 100%;
        height: 0px;
        margin-top: 0px;
    }

    #form_login input[type='submit']{
        font-size: 10px;
    }
    
    #form_login a{
        font-size: 10px;
    }
}

@media screen and (max-width: 280px){
    #box_center{
        width: 100%;
        margin: auto;
        margin-top: 15%;
        display: none;
        flex-direction: column;
        align-items: center;
        padding-top: 6%;
    }
    
    #box_login{
        height: 280px;
        border-radius: 0px;
    }
    
    #box_name_plataform{
        font-size: 7px;
        margin-top: 15px;
    }
    
    #footer_login{
        font-size: 7px;
    }
    
    .fundo-pixel {
        background-image: none !important;
        width: 100%;
        height: 0px;
        margin-top: 0px;
    }
    
    #form_login label{
        margin-top: 8%;
    }
    
    #form_login input[type='text'], #form_login input[type='password']{
        height: 30px;
    }
    
    #form_login input[type='submit']{
        width: 60%;
        height: 30px;
        margin-top: 10%;
    }
    
}