@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: #290C3C;
    font-family: 'Poppins', sans-serif;
}

header {
    margin-left: 90px;
    background-image: url('../img/Fundo-pixel.png');
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid transparent;

}


#menu-desktop {
    width: 90px;
    height: 100%;
    max-height: 1550px;
    background-color: #0E0E0E;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
}

.lista_dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.lista_dashboard li {
    list-style: none;
    margin: 10% 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon_menu {
    width: 50px;
}

#icon_usuario_menu {
    margin-bottom: 10%;
    margin-bottom: 1rem;
    cursor: pointer;
}

.header-perfil {
    width: 90%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 50px;

    position: relative;
}

.header-perfil h1 {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.header-perfil #buttonMural {
    width: 324px;
    height: 64px;
    border: 0;
    border-radius: 50px;
    background: #B05CEF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;

    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.header-perfil label {
    position: relative;
    width: 457px;
    height: 54px;
    border-radius: 40px;
    margin-left: 700px;
}

.header-perfil input {
    width: 457px;
    height: 54px;
    border-radius: 40px;
    border: 1px solid #B05CEF;
    background: #1D0D28;

    color: #5B2182;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;

    padding: 0 0 0 40px;
    outline: none;
}

.header-perfil input::placeholder {
    color: #5B2182;
}


#buttonColaborador {
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: transparent;
    border: none;
    top: -18px;
    right: 30px;
    cursor: pointer;
}

#iconLupa {
    width: 50px;
    height: 50px;
}

.divisor {
    width: 100%;
    height: 1px;
    background-color: white;
}

main {
    margin-left: 90px;
    padding: 0 100px;
}

main .perfil {
    margin: auto;
    display: flex;
    flex-direction: column;
}

main .perfil-1 {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

main .img-perfil {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 20px;
    border: 5px solid #6404A3;
    display: flex;
    align-items: center;
    justify-content: center;

}

main .perfil-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .perfil-2 h2 {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: relative;
}

main .perfil-2 .nivel {
    color: #B05CEF;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

main .perfil-2 .nivel::after {
    content: 'Nível 1';
    color: #E1BBFD;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 61.782px;
    height: 14.211px;
    border-radius: 40px;
    background: #9200FF;
    padding: 5px;
    position: absolute;
    top: 10px;
    margin-left: 40px;
}

main .perfil-2 .barra-progresso {
    width: 341px;
    height: 23px;
    border-radius: 40px;
    border: 1px solid #C47CFC;
    position: relative;
}

main .perfil-2 .barra-progresso .barra {
    width: 297px;
    height: 23px;
    border-radius: 40px 0px 40px 40px;
    background: #C881FD;

}

main .perfil-2 .barra-progresso .barra::after {
    content: '950 / 1000';
    color: #FFF;
    text-align: right;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: absolute;
    right: 0;
    bottom: -25px;
}

main .hard-skill,
main .soft-skill {
    /* width: 637px; */
    height: 212px;
    margin-top: 50px;

}

main .hard-skill h1,
main .soft-skill h1 {
    color: #E1BBFD;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

main .linguagem {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 15px;
}

main .barra-progresso-linguagem {
    width: 508px;
    height: 34px;
    border-radius: 30px;
    border: 3px solid #C881FD;
    position: relative;
}

main .barra-progresso-linguagem .progresso {
    width: 350px;
    height: 30px;
    border-radius: 50px 0px 130px 50px;
    background: #C881FD;
}

main .hard-skill p,
main .soft-skill p {
    color: #B05CEF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
}

.favorito::after {
    content: url('../img/icon-favorito.svg');
    margin-left: 15px;
}

.cursos {
    width: 100%;

}

.cursos h1 {
    color: #E1BBFD;
    font-size: 30px;
    margin-top: 50px;
}

.cursos-concluidos {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: auto;
}

.cursos-concluidos::-webkit-scrollbar {
    display: none;
}

.curso {
    min-width: 300px;
    height: 185.455px;
    border-radius: 10px;
    background: #5B2182;
    margin-right: 50px;
}

.avaliacoes {
    margin-top: 30px;

}

.avaliacoes h1 {
    color: #E1BBFD;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.avaliacao {
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 50px;
}

.img-avaliador {
    width: 70px;
    height: 70px;
    background-color: #5B2182;
    border-radius: 50%;
}

.msg-avaliacao {
    width: 994px;
    height: 50px;
    border-radius: 15px;
    border: 3px solid #D9D9D9;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    padding: 0 0 0 30px;
    position: relative;
}

.msg-avaliacao p {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.msg-avaliacao::after {
    content: '14/05/2023';
    color: #5B2182;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    right: 0;
    bottom: -35px
}
@media screen and (max-width: 1200px){
    #menu-desktop {
        width: 85px;
        height: 95%;
    }

    main {
        margin-left: 85px;
        padding: 0 35px;
    }

    .perfil {
        width: 80%;
    }
}


@media screen and (max-width: 1024px){
    #menu-desktop {
        width: 80px;
        height: 90%;
    }

    main {
        margin-left: 80px;
        padding: 0 30px;
    }

    .perfil {
        width: 80%;
    }
}

@media screen and (max-width: 768px){
    #menu-desktop {
        width: 75px;
        height: 85%;
    }

    main {
        margin-left: 75px;
        padding: 0 20px;
    }

    .perfil {
        width: 90%;
    }
}

@media screen and (max-width: 480px){
    #menu-desktop {
        width: 70px;
        height: 80%;
    }

    main {
        margin-left: 70px;
        padding: 0 10px;
    }

    .perfil {
        width: 100%;
    }
}

@media screen and (max-width: 280px){
      #menu-desktop {
        width: 65px;
        height: 75%;
    }

    main {
        margin-left: 65px;
        padding: 0 5px;
    }

    .perfil {
        width: 100%;
    }
}
