*{
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
    /* background-image: url('../img/fundo_down.png'); */
    background-repeat: no-repeat;
    background-size: 100%;
}

#footer_login{
    color: #969696;
    text-align: center;
    padding: 1% 0;
    padding-top: 0;
} 
.line{
    width: 40%;
    font-size: 1px;
    border-bottom: 1px solid #B05CEF;
}

#box_name_plataform{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-top: 6%;
    color: #B05CEF;
}

@media screen and (max-width: 1200px){
    #box_name_plataform{
        margin-top: 5%;
    }
    .line{
        width: 35%;
    }
    #footer_login{
        padding: 0.9% 0;
    }
}

@media screen and (max-width: 1024px){
    #box_name_plataform{
        margin-top: 4%;
    }
    .line{
        width: 30%;
    }
    #footer_login{
        padding: 0.8% 0;
    }
}

@media screen and (max-width: 768px){
    #box_name_plataform{
        margin-top: 3%;
    }
    .line{
        width: 25%;
    }
    #footer_login{
        padding: 0.7% 0;
    }
}

@media screen and (max-width: 480px){
    #box_name_plataform{
        margin-top: 2%;
    }
    .line{
        width: 20%;
    }
    #footer_login{
        padding: 0.6% 0;
    }
}

@media screen and (max-width: 280px){
    #box_name_plataform{
        margin-top: 1%;
    }
    .line{
        width: 15%;
    }
    #footer_login{
        padding: 0.5% 0;
    }
}
