.center_cursos{
    margin: 2% 0;
}

.box_curso{
    height: 300px;
    width: 100%;
}

.info_curso{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.info_curso_txt{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40%;
    text-align: center;
}

.info_curso img{
    width: 450px !important;
    height: 200px;
    border-radius: 10px;
}

.info_curso h2{
    font-weight: 500;
    margin: 0;
}

@media screen and (max-width: 1200px){

}

@media screen and (max-width: 1024px){
    
}

@media screen and (max-width: 768px){
    
}

/* @media screen and (max-width: 560px){
    
} */

@media screen and (max-width: 480px){
    
}

@media screen and (max-width: 280px){
    
}