<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="palavras,separadas,por,vírgulas">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0">
    <title>AccentureTalentHub | Adicionar Curso</title>
    <link rel="shortcut icon" href="../static/img/logo_accenture.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../static/css/home.css">
    <link rel="stylesheet" type="text/css" href="../static/css/geralstyle.css">
    <link rel="stylesheet" type="text/css" href="../static/css/indexstyle.css">
    <link rel="stylesheet" type="text/css" href="../static/css/curso.css">
    <link rel="stylesheet" type="text/css" href="../static/css/adicionarCurso.css">
    <link rel="stylesheet" type="text/css" href="../static/css/areainteresse.css">
    <link rel="stylesheet" href="../static/css/criar_sala.css">

    <!-- Importação dos arquivos CSS para barra de pesquisa -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- Importação dos arquivos Jquary -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body id="">
    <main>
        <nav id="menu-desktop">
            <ul class="lista_dashboard">
                <li id="logo">
                    <a href="home.html">
                        <img src="../static/img/logo_menu.png">
                    </a>
                </li>
                <li class="active">
                    <a href="curso.html">
                        <img class="icon_menu" src="../static/img/icon_cursos.png">
                    </a>
                </li>
                <li>
                    <a href="salas.html">
                        <img class="icon_menu" src="../static/img/icon_trilhas.png">
                    </a>
                </li>
                <li>
                    <a href="desenvol_pessoal.html">
                        <img class="icon_menu" src="../static/img/icon_dp.png">
                    </a>
                </li>
                <li>
                    <a href="curso_concluido.html">
                        <img class="icon_menu" src="../static/img/icon_cursos_concluidos.png">
                    </a>
                </li>
            </ul>

            <ul>
                <li id="icon_usuario_menu" class="lista_dashboard">
                    <img class="icon_menu" src="../static/img/icon_perfil.png">
                </li>
            </ul>
        </nav>

        <!--  Este nav só será ativado quando as páginas estiverem no modo responsivo! -->
        <!--  INICIO DO NAV RESPONSIVO -->
        <div id="icon-menu-responsivo">
            <img src="../static/img/menu-aberto.png">
        </div>

        <nav class="nav-responsivo">
            <ul class="lista_dashboard-responsivo">
                <li id="icon_fechar-responsivo">
                    <img src="../static/img/icon_fechar.png">
                </li>
                <li>
                    <a id="logo-responsivo" href="home.html">
                        <img src="../static/img/logo-responsivo.png">
                        <p>AccentureTalentHub</p>
                    </a>
                </li>
                <li class="active-responsivo">
                    <a class="link-page-responsivo" href="curso.html">
                        <img class="icon_menu-responsivo" src="../static/img/icon_cursos.png">
                        <p>Cursos</p>
                    </a>
                </li>
                <li>
                    <a class="link-page-responsivo" href="salas.html">
                        <img class="icon_menu-responsivo" src="../static/img/icon_trilhas.png">
                        <p>Salas</p>
                    </a>
                </li>
                <li>
                    <a class="link-page-responsivo" href="desenvol_pessoal.html">
                        <img class="icon_menu-responsivo" src="../static/img/icon_dp.png">
                        <p>Mural DPS</p>
                    </a>
                </li>
                <li>
                    <a class="link-page-responsivo" href="curso_concluido.html">
                        <img class="icon_menu-responsivo" src="../static/img/icon_cursos_concluidos.png">
                        <p>Cursos Concluídos</p>
                    </a>
                </li>
            </ul>
            <ul class="lista_dashboard-responsivo">
                <li id="icon_usuario_menu-responsivo" class="lista_dashboard-responsivo">
                    <div class="link-page-responsivo">
                        <img class="icon_menu-responsivo" src="../static/img/icon_perfil.png">
                        <p>Perfil</p>
                    </div>
                </li>
            </ul>
        </nav>

        <!--  FIM DO NAV RESPONSIVO -->

        <div id="menu-suspenso">
            <ul>
                <li><a href="perfil.html">Perfil</a></li>
                <li><a href="index.html">Sair</a></li>
            </ul>
        </div>


        <!-- INÍCIO PÁGINA DE CRIAÇÃO DO CURSO -->
        <section class="caixa_principalCriacao">

            <div class="caixa_criacao">
                <h2>Adicione um Curso</h2>
                <a href="perfilLider.html"> <img src="../static/img/icon_fechar.png" alt="" style="transform: translate(740px, -640%);"> </a>

                <form id="formCriarCurso" class="forms_criarCurso">
                    <div style="display: flex; justify-content: space-around;">
                        <div>
                            <p>Nome do curso</p>
                            <input id="nomeCurso" type="text" class="nome_curso">
    
                            <p>Adicione um banner ao curso</p>
                            <input id="imagemCurso" type="text" class="banner_curso">
                        </div>
                        
                        <div>
                            <p>Adicione uma descrição</p>
                            <textarea id="descricaoCurso"  class="descricao_curso" cols="30" rows="10"></textarea>
                        </div>
                    </div>
                    
                    <input id="criarCurso" type="submit" value="Criar Template">
                </form>
                <div style="width: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center;">
                    <p>Quais tecnologias seu curso aborda?</p>
                    <div id="abrir_modal_tecnologias">
                        <button class="dropbtn">Selecione a(s) tecnologia(s)</button>
                    </div> 
                </div>
                         

                <button id="botao-criarModulo">Criar Modulo</button>
                <div style="display: flex; flex-direction: row;">
                    <div>

                        <div class="modulos">
                            
                        </div>
    
                        
    
                        <div style="display: flex; border-bottom: 1px dashed #B05CEF; height: 18px; width: 200px; transform: translate(30px, 50%);">
                        <p style="margin-left: 70px; font-size: 10px; color: grey;">Modulo</p> </div>
                </div>
                
                   
            </div>
            <input type="submit" value="Finalizar curso">

            <section class="modal-modulo">
                <div style="display: flex; justify-content: space-between;">
                    <div></div>
                    <img id="fechar_modal-modulo" style="width: 15px; cursor: pointer;"
                        src="../static/img/icon_fechar.png">
                </div>

                <div id="detalhe_senha">
                    <div id="alterar-senha">
                        <div style="display: flex; flex-direction: row; margin-left: 350px; margin-bottom: 10px;">
                            <h3 style="color: #fff; font-weight: normal; font-size: 25px;">Modulo</h3>
                        </div>

                        <!-- <div class="modulosmodal" style="margin-bottom: 10px; border-radius: 15px;">

                            <div style="display: flex; margin: 10px;color: #fff;">
                                <img style="margin-right: 10px;" src="../static/img/marketing-de-video.png" alt="">
                                <p>Apresentação do curso</p>
                                <img style="margin-left: 500px;" src="../static/img/setas.png" alt="">
                            </div>
                        </div>

                       <div class="modulosmodal" style="margin-bottom: 10px;border-radius: 15px; color: #fff;">

                            <div style="display: flex; margin: 10px;">
                                <img style="margin-right: 10px;" src="../static/img/arquivo.png" alt="">
                                <p>Material de apoio</p>
                                <img style="margin-left: 550px;" src="../static/img/setas.png" alt="">
                            </div>
                        </div> -->

                        <!-- <div class="modulosmodal" style="margin-bottom: 10px;border-radius: 15px;color: #fff;">

                            <div style="display: flex; margin: 10px;">
                                <img style="margin-right: 20px;" src="../static/img/perguntando.png" alt="">
                                <p>Quiz</p>
                                <img style="margin-left: 649px;" src="../static/img/setas.png" alt="">
                            </div>
                        </div> -->

                        <div style="padding: 10px;width: 55px; background-color: #33084F;color: #fff;">
                            <a class="botaoApresentacaoCurso" style="cursor: pointer;">
                                <div
                                    style="display: flex; flex-direction: column; width: 20px; margin: 10px; ">
                                    <img src="../static/img/marketing-de-video.png" alt="">
                                </div>
                            </a>
                        </div>

                        <div style="background-color: #5B2182; padding: 2px; width: 50px;">

                            <a class="botaoMaterialCurso" style="cursor: pointer;">
                                <div
                                    style="display: flex; flex-direction: column; width: 30px; margin: 10px; ">
                                    <img src="../static/img/arquivo.png" alt="">
                                </div>
                            </a>
                            <a class="botaoQuizCurso" style="cursor: pointer;">
                                <div
                                style="display: flex; flex-direction: column; width: 30px; margin: 10px;">
                                    <img src="../static/img/perguntando.png" alt="">
                                </div>
                            </a>
                        </div>

                        <div
                            style="border: 5px solid #33084F; width: 50rem; height: 9.7rem; transform: translate(50px, -99%);" class="caixaDosInputs">
                            <!-- DIV INPUT DA APRESENTAÇÃO DO CURSO -->
                            <div
                                style="display: flex;flex-direction: column; width: 80%; margin: 0 auto;" class="inputApresentacaoCurso">
                                <label for="linkInput"></label>
                                <div style="display: flex; align-items: center; margin-top: 2%;">
                                    <img style="width: 20px; margin-right: 1%;" src="../static/img/marketing-de-video.png" alt="">
                                    <label>Nome da aula</label>
                                </div>
                                <input style="margin: 1% 0;" type="text" placeholder="Digite o nome da aula">
                                <div style="display: flex; align-items: center;">
                                    <img style="width: 20px;  margin-right: 1%;" src="../static/img/link.png" alt="">
                                    <label>Link da aula</label>
                                </div>
                                <input type="text" id="linkInput" name="linkInput" placeholder="Insira o link da aula" >
                                <input type="submit" value="Adicionar aula">
                            </div>
                            

                            <!-- DIV INPUT DOS MATERIAIS  -->
                            <div style="display: none;" class="inputMaterialCurso">
                                <p style="color: #fff; transform: translate(270px, 95%);">Faça o upload do arquivo</p>                                 
                                    <div style="display: flex;width: 350px; background-color: #fff; padding: 1%; border-radius: 50px;  transform: translate(200px, 60%); color: #000">
                                        <form action="/upload" method="post" enctype="multipart/form-data">
                                            <input type="file" name="arquivo">
                                        </form>
                                    </div>
                                
                            </div>

                            <!-- DIV INPUT DOS QUIZ -->
                            <div class="inputQuizCurso" style="display: none;">
                                <!-- <div style="display: flex; background-color: #fff; padding: 1%; width: 700px; margin-top: 10px; margin-left: 40px; border-radius: 20px;">
                                    <p style="margin-left: 10px; color: #C7C6C6;">
                                        Pergunta
                                    </p>
                                </div>
                                <div style="display: flex; background-color: #fff; padding: 2%; width: 600px; margin-top: 10px; margin-left: 140px; border-radius: 20px;">
                                    <p style="margin-left: 10px; color: #C7C6C6;">
                                        Resposta
                                        <div>
                                            <label style="margin-left: 350px; color: #C7C6C6; font-size: 10px;" for="scales">resposta correta</label>
                                            <input type="checkbox" id="scales" name="scales" checked />
                                          </div>
                                    </p>
                                </div>
                                <div style="display: flex; background-color: #fff; padding: 2%; width: 600px; margin-top: 10px; margin-left: 140px; border-radius: 20px;">
                                    <p style="margin-left: 10px; color: #C7C6C6;">
                                        Resposta
                                        <div>
                                            <label style="margin-left: 350px; color: #C7C6C6; font-size: 10px;" for="scales">resposta correta</label>
                                            <input type="checkbox" id="scales" name="scales" checked />
                                          </div>                                        </p>
                                </div>
                                <div style="display: flex; background-color: #fff; padding: 2%; width: 600px; margin-top: 10px; margin-left: 140px; border-radius: 20px;">
                                    <p style="margin-left: 10px; color: #C7C6C6;">
                                        Nova resposta
                                    </p>
                                </div> -->
                                <!-- <div class="botao_pergunta">
                                    <button> + ADICIONAR PERGUNTA </button>
                                </div> -->
                            </div>

                        </div>

                        
                            <button  class="adicionarLink" onclick="myFunction()">Adicionar ao Bloco</button>
                            <!-- <button  class="adicionarLink" onclick="myFunction()">Concluir Modulo</button> -->
                        

                        

                    </div>

                  
                </div> 
            </section>

            <section id="modal_tecnologias" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); display: none;">

                <div id="box_tecnologias">
                    <div style="display: flex; justify-content: space-between; margin-bottom: 1%;">
                        <div></div>
                        <img id="fechar_modal-tecnologias" src="../static/img/icon_fechar.png" style="cursor: pointer;">
                    </div>
                    
                    <div id="exemplo_tecnologias">
                        
        
                        <div id="exemplo_tecnologias">
                            <ul>
                                <li id="11">JavaScript</li>
                                <li id="35">Data Science</li>
                                <li id="12">Java</li>
                                <li id="2">.net</li>
                                <li id="16">HTML</li>
                                <li id="17">CSS</li>
                                <li id="14">Python</li>
                                <li id="1">PHP</li>
                                <li id="3">C#</li>
                                <li id="15">SAP ABAP</li>
                                <li id="13">TypeScript</li>
                                <li id="23">MySQL</li>
                                <li id="10">rabbitmq</li>
                                <li id="27">Cloud Computing</li>
                                <li id="5">Azure </li>
                                <li id="29">Hadoop</li>
                                <li id="30">Spark</li>
                                <li id="36">Machine Learning</li>
                                <li id="37">TensorFlow</li>
                                <li id="33">DevOps </li>
                                <li id="34">Jenkins</li>
                                <li id="40">Blockchain</li>
                                <li id="39">Cibersegurança</li>
                                <li id="8">auth0</li>
                                <li id="18">Angular</li>
                                <li id="19">React </li>
                                <li id="20">Vue.js</li>
                                <li id="6">Apim </li>
                                <li id="22">Flutter </li>
                                <li id="31">Big Data</li>
                                <li id="32">Analytics</li>
                                <li id="7">apigee</li>
                                <li id="38">PyTorch</li>
                                <li id="21">React Native</li>
                                <li id="4">MongoDB</li>
                                <li id="24">Cassandra</li>
                                <li id="25">PostgreSQL</li>
                                <li id="26">Oracle</li>
                                <li id="28">AWS </li>
                                <li id="9">kafka </li>
                            </ul>
                    </div>
                    
        
                    <div id="enviar_resposta">
        
                        <p id="enviarDados">Adicionar ao curso</p>
                        <img src="../static/img/seta_direita.png">
                    </div>
                </div>
            </section>

        </section>

        

        
    </main>

    <div class="fundoPagCursos">
        
    </div>

    <footer class="footer_geral">
        <p>© 2023 AccentureTalentHub.Inc | Todos os direitos reservados </p>
    </footer>

    <script>
        $(document).ready(function () {
            $("#botao-criarModulo").click(function () {
                $(".modal-modulo").css("display", "flex");
                $("#box_CriarModulo").css("opacity", "0.5");
            });

            $("#fechar_modal-modulo").click(function () {
                $(".modal-modulo").css("display", "none");
                $("#box_CriarModulo").css("opacity", "1");
            })

            $("#fechar_modal-tecnologias").click(function () {
                $("#modal_tecnologias").css("display", "none");
            })

            $("#abrir_modal_tecnologias").click(function () {
                $("#modal_tecnologias").css("display", "block");
            })


        });
    </script>

    <!-- <script>
        function myFunction() {
            var userInput = document.getElementById("linkInput").value;
            if (userInput.trim() !== "") {
                // Você pode usar o link fornecido pelo usuário como desejar
                console.log("O link fornecido pelo usuário é: " + userInput);
                // Ou você pode redirecionar para o link usando window.location.href
                // window.location.href = userInput;
            } else {
                alert("Por favor, insira um link válido.");
            }
        }
    </script> -->

    <script>

        var botaoApresentacaoCurso = document.querySelector(".botaoApresentacaoCurso");
        var inputApresentacaoCurso = document.querySelector(".inputApresentacaoCurso");
        var botaoMaterialCurso = document.querySelector(".botaoMaterialCurso");
        var inputMaterialCurso = document.querySelector(".inputMaterialCurso");
        var botaoQuizCurso = document.querySelector(".botaoQuizCurso");
        var inputQuizCurso = document.querySelector(".inputQuizCurso");

        var modal_modulo = document.querySelector(".modal-modulo");
        var caixaDosInputs = document.querySelector(".caixaDosInputs");
        var botaoAdicionarLink = document.querySelector(".adicionarLink");

        botaoApresentacaoCurso.addEventListener ("click", function() {
            inputMaterialCurso.style.display = 'none';
            inputQuizCurso.style.display = 'none';
            inputApresentacaoCurso.style.display = 'flex';
            //Detalhes do modal
            modal_modulo.style.height = '550px';
            botaoAdicionarLink.style.transform = 'translate(680px, -150%)';
            caixaDosInputs.style.transform = 'translate(50px, -99%)';
            caixaDosInputs.style.height = '9.7rem';

        })

        botaoMaterialCurso.addEventListener ("click", function() {
            inputApresentacaoCurso.style.display = 'none';
            inputQuizCurso.style.display = 'none';
            inputMaterialCurso.style.display = 'block';
            //Detalhes do modal
            modal_modulo.style.height = '550px';
            botaoAdicionarLink.style.transform = 'translate(680px, -150%)';
            caixaDosInputs.style.transform = 'translate(50px, -99%)';
            caixaDosInputs.style.height = '9.7rem';

        })

        botaoQuizCurso.addEventListener ("click", function() {
            inputApresentacaoCurso.style.display = 'none';
            inputMaterialCurso.style.display = 'none';
            inputQuizCurso.style.display = 'block';
            //Detalhes do modal
            modal_modulo.style.height = '700px';
            botaoAdicionarLink.style.transform = 'translate(680px, -200%)';
            caixaDosInputs.style.transform = 'translate(50px, -48%)';
            caixaDosInputs.style.height = '20rem';


        })


        
    </script>

    <script>

        // Seleciona todos os elementos li nas listas dentro da div com id "exemplo_tecnologias"
        const elementosLista = document.querySelectorAll("#exemplo_tecnologias li");

        // Array para armazenar os IDs selecionados
        const selecionados = [];

        // Seleciona todos os elementos li nas listas dentro da div com id "exemplo_tecnologias"
        const elementosLi = document.querySelectorAll("#exemplo_tecnologias li");

        elementosLi.forEach(function(elemento) {
            elemento.addEventListener("click", function() {
                const id = elemento.id;

                // Verifica se o elemento já foi selecionado
                if (selecionados.includes(id)) {
                    // Se já estiver selecionado, remova-o do array e restaure a cor
                    const index = selecionados.indexOf(id);
                    selecionados.pop(index);
                    elemento.classList.remove("selected");
                } else {
                    // Se não estiver selecionado, adicione ao array e mude a cor
                    selecionados.push(id);
                    elemento.classList.add("selected");
                }
            });
        });
        localStorage.setItem('selecionados', selecionados);



document.addEventListener('DOMContentLoaded', function () {
    const criarCurso = document.getElementById('formCriarCurso');

    criarCurso.addEventListener('submit', function (e) {
        e.preventDefault();

        const nomeCurso = document.getElementById('nomeCurso').value;
        const imagemCurso = document.getElementById('imagemCurso').value;
        const descricaoCurso = document.getElementById('descricaoCurso').value;

        fetch("http://localhost:8080/cursos", {
            method: "POST",
            headers: {
                "Accept": "application/json",
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                descricao: descricaoCurso,
                nome: nomeCurso,
                imagem: imagemCurso,
                pontuacaoGeral: 100,
                concluido: false,
            })
        })
            .then(function (res) {
                if (res.ok) {
                    alert("Curso cadastrado com sucesso!");
                    setTimeout(buscarUltimoId, 5000);
                    return res.json(); // Retorna o corpo da resposta como JSON
                } else {
                    throw new Error("Erro ao cadastrar curso. Por favor, tente novamente.");
                }
            })
            .catch(function (error) {
                console.error("Erro na solicitação: " + error);
            });
    });
});


        
    </script>
    <script src="../static/js/insereInteressesCursos.js"></script>

</body>

</html>