<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="keywords" content="palavras,separadas,por,vírgulas">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0">
	<title>AccentureTalentHub | Cursos</title>
	<link rel="shortcut icon" href="../static/img/logo_accenture.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../static/css/geralstyle.css">
    <link rel="stylesheet" type="text/css" href="../static/css/perfil.css">
    <link rel="stylesheet" type="text/css" href="../static/css/curso.css">


    <!-- Importação dos arquivos CSS para barra de pesquisa -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- Importação dos arquivos Jquary -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body id="">
    <main>
        <nav>
            
    
            <ul style="margin-top: 10%;">
                <li id="icon_usuario_menu" class="lista_dashboard" >
                    <a href="#">
                        <img class="icon_menu" src="../static/img/icon_perfil_action.png">
                    </a>
                </li>
            </ul>
        </nav>
    
        <section id="box_info_dashboard">

            <header style="text-align: left; display: block;">
                <h1 id="title_curso" style="text-align: left;">Admistrador</h1>
            </header>

        </section>

            <div style="margin-left: 20%; margin-top: 0px; margin-bottom: 2%;" id="box_carreira">
                <div style="display: flex;">
                    <div style="width: 50%;"></div>
                    <h2>Cadastrar novo usuário</h2>
                </div>
                <div id="box_info_metas">
                    <p style="color: #E1BBFD;">Dados</p>
                    <form id="formCadastro">
                        <div class="box_metas">
                            <p>Nome: </p>
                            <input id="nome" class="input_cadastro" type="text">
                        </div>
                        <div class="box_metas">
                            <p>Usuário: </p>
                            <input id="usuario" class="input_cadastro" type="text">
                        </div>
                        <div class="box_metas">
                            <p>E-mail: </p>
                            <input id="email" class="input_cadastro" type="email">
                        </div>
                        <div class="box_metas">
                            <p>Senha: </p>
                            <input id="senha" class="input_cadastro" type="password" placeholder="Senha padrão: Mudar@123">
                        </div>
                        <div class="box_metas">
                            <p>Nível de Usuário : </p>
                            <input id="nivelUsuario" class="input_cadastro" type="number" placeholder="(Adm = 0, Líder = 1, Líderado = 2)">
                        </div>
                        <input type="submit">
                    </form>
                    
                </div>

                
            </div>
    </main>

    
    
    <footer class="footer_geral">
        <p>© 2023 AccentureTalentHub.Inc | Todos os direitos reservados </p>
    </footer>

    <script>
        $(document).ready(function(){
            $(".button_carreira").click(function() {
                $(".modal-senha").css("display", "flex");
                $("#box_info_dashboard").css("opacity", "0.5");
            });
            
            $("#fechar_modal-senha").click(function() {
                $(".modal-senha").css("display", "none");
                $("#box_info_dashboard").css("opacity", "1");
            })
        });
    </script>


<script>
    document.addEventListener("DOMContentLoaded", function() {
        
        formCadastro.addEventListener('submit', function(event) {
            event.preventDefault(); // Evita o comportamento padrão do formulário

            
            const nome = document.querySelector('#nome').value;
            const usuario = document.querySelector('#usuario').value;
            const email = document.querySelector('#email').value;
            const nivelUsuario = document.querySelector('#nivelUsuario').value;
            const senha = document.querySelector('#senha').value;
            // Construa o objeto de dados a ser enviado para a API
            const data = {
                cargo: null,
                foto: null,
                pontuacaoGeral: 0,
                nivel: 0,
                nivelInteresse: 0,
                nome: nome,
                usuario: usuario,
                email: email,
                nivelUsuario: nivelUsuario,
                senha: senha
            };

            fetch('http://localhost:8080/usuario', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => {
                alert(data);
                alert('Cadastro realizado com sucesso');
                window.location = 'adm.html';
            })
            .catch(error => {
                console.error('Erro ao cadastrar usuário:', error);
                // Faça algo aqui em caso de erro
            });
        });
    });
</script>

</body>
</html>