<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="keywords" content="palavras,separadas,por,vírgulas">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0">
	<title>AccentureTalentHub | Interesses</title>
	<link rel="shortcut icon" href="../static/img/logo_accenture.png" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="../static/css/areainteresse.css">
    <link rel="stylesheet" type="text/css" href="../static/css/geralstyle.css">
    <link rel="stylesheet" type="text/css" href="../static/css/indexstyle.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body id="body_login">
    <section id="box_center">

        <section id="box_center-responsivo">
        <!-- <div class="box_center_chamada_txt"> -->

            <div id="box_chamada">
                <img id="foguete" src="../static/img/foguete.png">
                <div id="chamada_txt">
                    <div>
                        <h3>SELECIONE SUAS</h3>
                        <div id="faixa_chamada"></div>
                    </div>
                    
                    <div>
                        <h1>Tecnologias De Interesse</h1>
                    </div>
                </div>
            </div>
        <!-- </div> -->

        <div id="box_tecnologias">

            <div id="exemplo_tecnologias">

                <div id="exemplo_tecnologias">
                    <ul>
                        <li id="11">JavaScript</li>
                        <li id="35">Data Science</li>
                        <li id="12">Java</li>
                        <li id="2">.net</li>
                        <li id="16">HTML</li>
                        <li id="17">CSS</li>
                        <li id="14">Python</li>
                        <li id="1">PHP</li>
                        <li id="3">C#</li>
                        <li id="15">SAP ABAP</li>
                        <li id="13">TypeScript</li>
                        <li id="23">MySQL</li>
                        <li id="10">rabbitmq</li>
                        <li id="27">Cloud Computing</li>
                        <li id="5">Azure </li>
                        <li id="29">Hadoop</li>
                        <li id="30">Spark</li>
                        <li id="36">Machine Learning</li>
                        <li id="37">TensorFlow</li>
                        <li id="33">DevOps </li>
                        <li id="34">Jenkins</li>
                        <li id="40">Blockchain</li>
                        <li id="39">Cibersegurança</li>
                        <li id="8">auth0</li>
                        <li id="18">Angular</li>
                        <li id="19">React </li>
                        <li id="20">Vue.js</li>
                        <li id="6">Apim </li>
                        <li id="22">Flutter </li>
                        <li id="31">Big Data</li>
                        <li id="32">Analytics</li>
                        <li id="7">apigee</li>
                        <li id="38">PyTorch</li>
                        <li id="21">React Native</li>
                        <li id="4">MongoDB</li>
                        <li id="24">Cassandra</li>
                        <li id="25">PostgreSQL</li>
                        <li id="26">Oracle</li>
                        <li id="28">AWS </li>
                        <li id="9">kafka </li>
                    </ul>
            </div>
            

            <div id="enviar_resposta">

                <p id="enviarDados">Enviar Resposta</p>
                <img src="../static/img/seta_direita.png">
            </div>
        </div>
    
        </section>

        <div class="fundo-pixel">
        </div>

        <section id="box_name_plataform">
            <div class="line"></div>
            <p>AccentureTalentHub</p>
            <div class="line"></div>
        </section>

        <footer id="footer_login">
            <p>© 2023 AccentureTalentHub.Inc | Todos os direitos reservados </p>
        </footer>
    </section>
	

	

	
	<script>
        $(document).ready(function(){
            $("#box_center").fadeIn(2000);
            $("#box_center").css("display", "flex");

        });
    </script>

    <script>

         // Seleciona todos os elementos li nas listas dentro da div com id "exemplo_tecnologias"
         const elementosLista = document.querySelectorAll("#exemplo_tecnologias li");

        // Array para armazenar os IDs selecionados
        const selecionados = [];

        // Seleciona todos os elementos li nas listas dentro da div com id "exemplo_tecnologias"
        const elementosLi = document.querySelectorAll("#exemplo_tecnologias li");

        elementosLi.forEach(function(elemento) {
            elemento.addEventListener("click", function() {
                const id = elemento.id;

                // Verifica se o elemento já foi selecionado
                if (selecionados.includes(id)) {
                    // Se já estiver selecionado, remova-o do array e restaure a cor
                    const index = selecionados.indexOf(id);
                    selecionados.pop(index);
                    elemento.classList.remove("selected");
                } else {
                    // Se não estiver selecionado, adicione ao array e mude a cor
                    selecionados.push(id);
                    elemento.classList.add("selected");
                }
            });
        });

        const url = "http://localhost:8080/usuariosInteresses/" + localStorage.getItem('idUsuario');
        function atualizarInteresses(IDs) {
            fetch(url, {
                method: "POST",
                headers: {
                    "Accept": "application/json",
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(IDs)
            })
            .then(function (res) {
                if (res.ok) {
                    console.log("Interesses atualizados com sucesso!");
                } else {
                    console.error("Falha ao atualizar interesses.");
                }
            })
            .catch(function (error) {
                console.error("Erro na solicitação: " + error);
            });
        }

        // Evento de clique no botão "Enviar Dados"
        const enviarDadosBtn = document.getElementById("enviarDados");
        enviarDadosBtn.addEventListener("click", function() {

            if(selecionados!=''){
                console.log(selecionados);
                var IDs = selecionados.map(function(string) {return Number(string);});
                atualizarInteresses(IDs)   
               
                alert("Interesses adicionados ao usuário com sucesso!");
                window.location.href = 'home.html';
            }else{
                alert("Selecione pelo menos uma tecnologia para continuar!");
            }
            
        });
    </script>
</body>
</html>