<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="keywords" content="palavras,separadas,por,vírgulas">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0">
	<title>AccentureTalentHub | Salas</title>
	<link rel="shortcut icon" href="../static/img/logo_accenture.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../static/css/geralstyle.css">
    <link rel="stylesheet" type="text/css" href="../static/css/areaestudos.css">
    <link rel="stylesheet" type="text/css" href="../static/css/sala_de_aula.css">


    <!-- Importação dos arquivos CSS para barra de pesquisa -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- Importação dos arquivos Jquary -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body id="">
    <main>
        <nav>
            <ul class="lista_dashboard">
                <li id="logo">
                    <a href="home.html">
                        <img src="../static/img/logo_menu.png">
                    </a>
                </li>
                <li class="active">
                    <a href="curso.html">
                        <img class="icon_menu" src="../static/img/icon_cursos_action.png">
                    </a>
                </li>
                <li>
                    <a href="salas.html">
                        <img class="icon_menu" src="../static/img/icon_trilhas.png">
                    </a>
                </li>
                <li>
                    <a href="desenvol_pessoal.html">
                        <img class="icon_menu" src="../static/img/icon_dp.png">
                    </a>
                </li>
                <li>
                    <a href="curso_concluido.html">
                        <img class="icon_menu" src="../static/img/icon_cursos_concluidos.png">
                    </a>
                </li>
            </ul>
    
            <ul>
                <li id="icon_usuario_menu" class="lista_dashboard">
                    <a href="perfil.html">
                        <img class="icon_menu" src="../static/img/icon_perfil.png">
                    </a>
                </li>
            </ul>
        </nav>
        <section style="padding-left: 8%; padding-top: 1%; display: flex;">
            <div id="box_info_curso">
                <iframe width="853" height="480" src="https://www.youtube.com/embed/cadVHEq_8B0" frameborder="0"></iframe>
                <div id="box_info_header">
                    <h2>Apresentação do Curso</h2>
                    <button>Concluir aula</button>
                </div>
                <br>
                <div id="box_descricao">
                    <div id="box_info">
                        <ul>
                            <li class="lista_descricao lista_action">Descrição</li>
                            <li class="lista_sobre">Sobre o Instrutor</li>
                            <li class="lista_forum">Fórum</li>
                            <li style="color: #B05CEF;">Horas Totais: 5H</li>
                        </ul>
                    </div>
                    <p style="color: #B05CEF;">Mussum Ipsum, cacilds vidis litro abertis.  In elementis mé pra quem é 
                       amistosis quis leo. Mauris nec dolor in eros commodo tempor. Aenean aliquam
                       molestie leo, vitae iaculis nisl. Si u mundo tá muito paradis? Toma um mé 
                       que o mundo vai girarzis! Per aumento de cachacis, eu reclamis.
                    </p>
                </div>
                <div id="box_sobre_instrutor">
                    <div id="box_info">
                        <ul>
                            <li class="lista_descricao">Descrição</li>
                            <li class="lista_sobre lista_action">Sobre o Instrutor</li>
                            <li class="lista_forum">Fórum</li>
                            <li style="color: #B05CEF;">Horas Totais: 5H</li>
                        </ul>
                    </div>
                    <div id="info_instrutor">
                        <img style="width: 120px;" src="../static/img/avatar.png">
                        <div>
                            <span>Nome: </span> <span class="txt_bold">Alisson Barbosa</span>
                            <br>
                            <span>Cargo: </span> <span>Cargo atual</span>
                            <br>
                            <p style="color: #B05CEF; margin-left: 2%;">Mussum Ipsum, cacilds vidis litro abertis.  In elementis mé pra quem é 
                                amistosis quis leo. Mauris nec dolor in eros commodo tempor. Aenean aliquam
                                molestie leo, vitae iaculis nisl. Si u mundo tá muito paradis? Toma um mé 
                                que o mundo vai girarzis! Per aumento de cachacis, eu reclamis.
                             </p>
                        </div>
                    </div>
                </div>

                <div id="box_forum">
                    <div id="box_info">
                        <ul>
                            <li class="lista_descricao">Descrição</li>
                            <li class="lista_sobre">Sobre o Instrutor</li>
                            <li class="lista_forum lista_action">Fórum</li>
                            <li style="color: #B05CEF;">Horas Totais: 5H</li>
                        </ul>
                    </div>
                    <div class="chat" style="border: 3px solid #fff;">
                        
                        <div class="area_mensagens">
                            <div class="mensagens_chat">
                                <img src="../static/img/img_jhonnatas.png">
                                <div style="margin-left: 1%;">
                                    <p style="color: #fff;">Jhonnatas</p>
                                    <p class="txt_mensagem">Mussum Ipsum, cacilds vidis litro abertis.  In elementis mé pra quem 
                                        é amistosis quis leo. Mauris nec dolor in eros commodo tempor. Aenean 
                                        aliquam molestie leo, vitae iaculis nisl. Si u mundo tá muito paradis?
                                        Toma um mé que o mundo vai girarzis! Per aumento de cachacis, 
                                        eu reclamis.
                                    </p>
                                    <p style="text-align: right;width: 90%;font-size: 12px;color: #fff;">14/10/2023</p>
                                </div>
                            </div>
    
                            <div class="mensagens_chat">
                                <img src="../static/img/img_jhonnatas.png">
                                <div style="margin-left: 1%;">
                                    <p style="color: #fff;">Jhonnatas</p>
                                    <p class="txt_mensagem">Mussum Ipsum, cacilds vidis litro abertis.  In elementis mé pra quem 
                                        é amistosis quis leo. Mauris nec dolor in eros commodo tempor. Aenean 
                                        aliquam molestie leo, vitae iaculis nisl. Si u mundo tá muito paradis?
                                        Toma um mé que o mundo vai girarzis! Per aumento de cachacis, 
                                        eu reclamis.
                                    </p>
                                    <p style="text-align: right;width: 90%;font-size: 12px;color: #fff;">14/10/2023</p>
                                </div>
                            </div>
    
                            <div class="mensagens_chat">
                                <img src="../static/img/img_jhonnatas.png">
                                <div style="margin-left: 1%;">
                                    <p style="color: #fff;">Jhonnatas</p>
                                    <p class="txt_mensagem">Mussum Ipsum, cacilds vidis litro abertis.  In elementis mé pra quem 
                                        é amistosis quis leo. Mauris nec dolor in eros commodo tempor. Aenean 
                                        aliquam molestie leo, vitae iaculis nisl. Si u mundo tá muito paradis?
                                        Toma um mé que o mundo vai girarzis! Per aumento de cachacis, 
                                        eu reclamis.
                                    </p>
                                    <p style="text-align: right;width: 90%;font-size: 12px;color: #fff;">14/10/2023</p>
                                </div>
                            </div>
    
                            <div class="mensagens_chat">
                                <img src="../static/img/img_jhonnatas.png">
                                <div style="margin-left: 1%;">
                                    <p style="color: #fff;">Jhonnatas</p>
                                    <p class="txt_mensagem">Mussum Ipsum, cacilds vidis litro abertis.  In elementis mé pra quem 
                                        é amistosis quis leo. Mauris nec dolor in eros commodo tempor. Aenean 
                                        aliquam molestie leo, vitae iaculis nisl. Si u mundo tá muito paradis?
                                        Toma um mé que o mundo vai girarzis! Per aumento de cachacis, 
                                        eu reclamis.
                                    </p>
                                    <p style="text-align: right;width: 90%;font-size: 12px;color: #fff;">14/10/2023</p>
                                </div>
                            </div>
                        </div>
    
                        <div style="display: flex; align-items: center; justify-content: space-between; border-radius: 15px; background-color:#451A63; width: 90%; height: 40px; margin-top: 2%;">
                            <input type="text" placeholder="Enviar uma mensagem...">
                            <img style="width: 30px; margin-right: 2%; cursor: pointer;" src="../static/img/icon_enviar.png"> 
                        </div>
                    </div>
                </div>
            </div>
            <div id="box_modulos_curso">
                <h1 style="text-align: center; font-size: 35px;">Javascript Puro</h1>
                <br>
                <div>
                    <p style="font-size: 15px; text-align: right;">SEU PROGRESSO</p>
                    <div style="width: 90%; margin-left: 10%;" id="barra_progresso"></div>
                </div>
                <div class="modulos_curso">
                    <div class="titulo_modulo">
                        <h4>Módulo 1</h4>
                        <img src="../static/img/icon_expandir.png">
                    </div>
                    <div class="box_aulas">
                        <div class="titulo_modulo aulas_modulo">
                            <img src="../static/img/icon_video.png">
                            <p>Nome da Aula</p>
                        </div>
                        <hr style="width: 100%; margin-top: 3%;" color="#421561">
                    </div>
                    <div class="box_aulas">
                        <div class="titulo_modulo aulas_modulo">
                            <img src="../static/img/icon_video.png">
                            <p>Nome da Aula</p>
                        </div>
                        <hr style="width: 100%; margin-top: 3%;" color="#421561">
                    </div>
                    <div class="box_aulas">
                        <div class="titulo_modulo aulas_modulo">
                            <img src="../static/img/arquivo.png">
                            <p>Material de Apoio</p>
                        </div>
                        <hr style="width: 100%; margin-top: 3%;" color="#421561">
                    </div>
                    <div class="box_aulas">
                        <div class="titulo_modulo aulas_modulo">
                            <img src="../static/img/perguntando.png">
                            <p>Quiz</p>
                        </div>
                        <hr style="width: 100%; margin-top: 3%;" color="#421561">
                    </div>
                </div>

                <div class="modulos_curso">
                    <div class="titulo_modulo">
                        <h4>Módulo 2</h4>
                        <img src="../static/img/icon_expandir.png">
                    </div>
                    <div class="box_aulas">
                        <div class="titulo_modulo aulas_modulo">
                            <img src="../static/img/icon_video.png">
                            <p>Nome da Aula</p>
                        </div>
                        <hr style="width: 100%; margin-top: 3%;" color="#421561">
                    </div>
                    <div class="box_aulas">
                        <div class="titulo_modulo aulas_modulo">
                            <img src="../static/img/icon_video.png">
                            <p>Nome da Aula</p>
                        </div>
                        <hr style="width: 100%; margin-top: 3%;" color="#421561">
                    </div>
                    <div class="box_aulas">
                        <div class="titulo_modulo aulas_modulo">
                            <img src="../static/img/arquivo.png">
                            <p>Material de Apoio</p>
                        </div>
                        <hr style="width: 100%; margin-top: 3%;" color="#421561">
                    </div>
                    <div class="box_aulas">
                        <div class="titulo_modulo aulas_modulo">
                            <img src="../static/img/perguntando.png">
                            <p>Quiz</p>
                        </div>
                        <hr style="width: 100%; margin-top: 3%;" color="#421561">
                    </div>
                </div>
                <div class="modulos_curso">
                    <div class="titulo_modulo">
                        <h4>Módulo 3</h4>
                        <img src="../static/img/icon_expandir.png">
                    </div>
                    <div class="box_aulas">
                        <div class="titulo_modulo aulas_modulo">
                            <img src="../static/img/icon_video.png">
                            <p>Nome da Aula</p>
                        </div>
                        <hr style="width: 100%; margin-top: 3%;" color="#421561">
                    </div>
                    <div class="box_aulas">
                        <div class="titulo_modulo aulas_modulo">
                            <img src="../static/img/icon_video.png">
                            <p>Nome da Aula</p>
                        </div>
                        <hr style="width: 100%; margin-top: 3%;" color="#421561">
                    </div>
                    <div class="box_aulas">
                        <div class="titulo_modulo aulas_modulo">
                            <img src="../static/img/arquivo.png">
                            <p>Material de Apoio</p>
                        </div>
                        <hr style="width: 100%; margin-top: 3%;" color="#421561">
                    </div>
                    <div class="box_aulas">
                        <div class="titulo_modulo aulas_modulo">
                            <img src="../static/img/perguntando.png">
                            <p>Quiz</p>
                        </div>
                        <hr style="width: 100%; margin-top: 3%;" color="#421561">
                    </div>
                </div>
                <div class="modulos_curso">
                    <div class="titulo_modulo">
                        <h4>Módulo 4</h4>
                        <img src="../static/img/icon_expandir.png">
                    </div>
                    <div class="box_aulas">
                        <div class="titulo_modulo aulas_modulo">
                            <img src="../static/img/icon_video.png">
                            <p>Nome da Aula</p>
                        </div>
                        <hr style="width: 100%; margin-top: 3%;" color="#421561">
                    </div>
                    <div class="box_aulas">
                        <div class="titulo_modulo aulas_modulo">
                            <img src="../static/img/icon_video.png">
                            <p>Nome da Aula</p>
                        </div>
                        <hr style="width: 100%; margin-top: 3%;" color="#421561">
                    </div>
                    <div class="box_aulas">
                        <div class="titulo_modulo aulas_modulo">
                            <img src="../static/img/arquivo.png">
                            <p>Material de Apoio</p>
                        </div>
                        <hr style="width: 100%; margin-top: 3%;" color="#421561">
                    </div>
                    <div class="box_aulas">
                        <div class="titulo_modulo aulas_modulo">
                            <img src="../static/img/perguntando.png">
                            <p>Quiz</p>
                        </div>
                        <hr style="width: 100%; margin-top: 3%;" color="#421561">
                    </div>
                </div>
                <div class="modulos_curso">
                    <div class="titulo_modulo">
                        <h4>Módulo 5</h4>
                        <img src="../static/img/icon_expandir.png">
                    </div>
                    <div class="box_aulas">
                        <div class="titulo_modulo aulas_modulo">
                            <img src="../static/img/icon_video.png">
                            <p>Nome da Aula</p>
                        </div>
                        <hr style="width: 100%; margin-top: 3%;" color="#421561">
                    </div>
                    <div class="box_aulas">
                        <div class="titulo_modulo aulas_modulo">
                            <img src="../static/img/icon_video.png">
                            <p>Nome da Aula</p>
                        </div>
                        <hr style="width: 100%; margin-top: 3%;" color="#421561">
                    </div>
                    <div class="box_aulas">
                        <div class="titulo_modulo aulas_modulo">
                            <img src="../static/img/arquivo.png">
                            <p>Material de Apoio</p>
                        </div>
                        <hr style="width: 100%; margin-top: 3%;" color="#421561">
                    </div>
                    <div class="box_aulas">
                        <div class="titulo_modulo aulas_modulo">
                            <img src="../static/img/perguntando.png">
                            <p>Quiz</p>
                        </div>
                        <hr style="width: 100%; margin-top: 3%;" color="#421561">
                    </div>
                </div>
            </div>
        </section>
        
    </main>
    
    <footer class="footer_geral">
        <p>© 2023 AccentureTalentHub.Inc | Todos os direitos reservados </p>
    </footer>


    <script>
        $(document).ready(function(){
            $(".lista_sobre").click(function() {
                $("#box_sobre_instrutor").css("display", "block");
                $("#box_descricao").css("display", "none");
                $("#box_forum").css("display", "none");
            });

            $(".lista_forum").click(function() {
                $("#box_descricao").css("display", "none");
                $("#box_sobre_instrutor").css("display", "none");
                $("#box_forum").css("display", "block");
            });

            $(".lista_descricao").click(function() {
                $("#box_descricao").css("display", "block");
                $("#box_sobre_instrutor").css("display", "none");
                $("#box_forum").css("display", "none");
            });
            
        });
    </script>

</body>
</html>