<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="keywords" content="palavras,separadas,por,vírgulas">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0">
	<title>AccentureTalentHub | Interesses</title>
	<link rel="shortcut icon" href="../static/img/logo_accenture.png" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="../static/css/areainteresse.css">
    <link rel="stylesheet" type="text/css" href="../static/css/geralstyle.css">
    <link rel="stylesheet" type="text/css" href="../static/css/indexstyle.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body id="body_login">
    <section id="box_center">

        <div class="box_center_chamada_txt">

            <div id="box_chamada">
                <img id="foguete" src="../static/img/foguete.png">
                <div id="chamada_txt">
                    <div>
                        <h3>SELECIONE SUAS</h3>
                        <div id="faixa_chamada"></div>
                    </div>
                    
                    <div>
                        <h1>Tecnologias De Interesse</h1>
                    </div>
                </div>
            </div>
        </div>

        <div id="box_tecnologias">
            <div id="teste">
                <ul>
                    <li>JavaScript</li>
                    <li>Data Science</li>
                    <li>Java</li>
                    <li>Docker</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Python</li>
                </ul>
    
                <ul>
                    <li>PHP</li>
                    <li>Salesforce</li>
                    <li>SAP ABAP</li>
                    <li>TypeScript</li>
                    <li>Cloud Computing</li>
                    <li>Kubernetes</li>
                </ul>
    
                <ul>
                    <li>JavaScript</li>
                    <li>Data Science</li>
                    <li>Java</li>
                    <li>Docker</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Python</li>
                </ul>
    
                <ul>
                    <li>PHP</li>
                    <li>Salesforce</li>
                    <li>SAP ABAP</li>
                    <li>TypeScript</li>
                    <li>Cloud Computing</li>
                    <li>Kubernetes</li>
                </ul>
            </div>
            

            <div id="enviar_resposta">
                <p>Enviar Resposta</p>
                <img src="../static/img/seta_direita.png">
            </div>
        </div>
        

        <section id="box_name_plataform">
            <div class="line"></div>
            <p>AccentureTalentHub</p>
            <div class="line"></div>
        </section>

        <footer id="footer_login">
            <p>© 2023 AccentureTalentHub.Inc | Todos os direitos reservados </p>
        </footer>
    </section>
	

	

	
	<script>
        $(document).ready(function(){
            $("#box_center").fadeIn(2000);
            $("#box_center").css("display", "flex");

            $("#enviar_resposta").click(function() {
                window.location.href = 'home.html';
            })

        });



    </script>
</body>
</html>