<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="keywords" content="palavras,separadas,por,vírgulas">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0">
	<title>AccentureTalentHub | Home</title>
	<link rel="shortcut icon" href="../static/img/logo_accenture.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../static/css/home.css">
    <link rel="stylesheet" type="text/css" href="../static/css/geralstyle.css">
    <link rel="stylesheet" type="text/css" href="../static/css/indexstyle.css">
    <!-- <link rel="stylesheet" type="text/css" href="../static/css/curso.css"> -->
    <link rel="stylesheet" type="text/css" href="../static/css/criar_sala.css">

    <!-- Importação dos arquivos CSS para barra de pesquisa -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- Importação dos arquivos Jquary -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body id="">
 <main>
    <nav id="menu-desktop">
        <ul class="lista_dashboard">
            <li id="logo">
                <a href="home.html">
                    <img src="../static/img/logo_menu.png">
                </a>
            </li>
            <li class="active">
                <a href="curso.html">
                    <img class="icon_menu" src="../static/img/icon_cursos.png">
                </a>
            </li>
            <li>
                <a href="salas.html">
                    <img class="icon_menu" src="../static/img/icon_trilhas.png">
                </a>
            </li>
            <li>
                <a href="desenvol_pessoal.html">
                    <img class="icon_menu" src="../static/img/icon_dp.png">
                </a>
            </li>
            <li>
                <a href="curso_concluido.html">
                    <img class="icon_menu" src="../static/img/icon_cursos_concluidos.png">
                </a>
            </li>
        </ul>

        <ul>
            <li id="icon_usuario_menu" class="lista_dashboard">
                <a href="perfil.html">
                    <img class="icon_menu" src="../static/img/icon_perfil.png">
                </a>
            </li>
        </ul>
    </nav>

    <!--  Este nav só será ativado quando as páginas estiverem no modo responsivo! -->
    <!--  INICIO DO NAV RESPONSIVO -->
    <div id="icon-menu-responsivo">
        <img src="../static/img/menu-aberto.png">
    </div>
    
    <nav class="nav-responsivo">
        <ul class="lista_dashboard-responsivo">
            <li id="icon_fechar-responsivo">
                <img src="../static/img/icon_fechar.png">
            </li>
            <li>
                <a id="logo-responsivo" href="home.html">
                    <img src="../static/img/logo-responsivo.png">
                    <p>AccentureTalentHub</p>
                </a>
            </li>
            <li class="active-responsivo">
                <a class="link-page-responsivo" href="curso.html">
                    <img class="icon_menu-responsivo" src="../static/img/icon_cursos.png">
                    <p>Cursos</p>
                </a>         
            </li>
            <li>
                <a class="link-page-responsivo" href="salas.html">
                    <img class="icon_menu-responsivo" src="../static/img/icon_trilhas.png">
                    <p>Salas</p>
                </a>                
            </li>
            <li>
                <a class="link-page-responsivo" href="desenvol_pessoal.html">
                    <img class="icon_menu-responsivo" src="../static/img/icon_dp.png">
                    <p>Mural DPS</p>
                </a> 
            </li>
            <li>
                <a class="link-page-responsivo" href="curso_concluido.html">
                    <img class="icon_menu-responsivo" src="../static/img/icon_cursos_concluidos.png">
                    <p>Cursos Concluídos</p>
                </a>
            </li>
        </ul>
        <ul class="lista_dashboard-responsivo">
            <li id="icon_usuario_menu-responsivo" class="lista_dashboard-responsivo">
                <a class="link-page-responsivo" href="perfil.html">
                    <img class="icon_menu-responsivo" src="../static/img/icon_perfil.png">
                    <p>Perfil</p>
                </a>
            </li>
        </ul>
    </nav>

    <!--  FIM DO NAV RESPONSIVO -->

    <!-- <div id="menu-suspenso">
        <ul>
            <li><a href="perfil.html">Perfil</a></li>
            <li><a href="index.html">Sair</a></li>
        </ul>
    </div> -->
     
    </main>
    
    <div class="box_CriarSala">
        <h2>Crie uma Sala </h2>
       <a href="perfilLider.html"> <img src="../static/img/icon_fechar.png" alt="" style="transform: translate(755px, -850%);">  </a> 

        <section class="Criar_Sala">
            <p>Nome da sala</p>
        <input type="text" style="color:#fff; width: 270px; background-color:#481A67;border-radius: 5px; margin-bottom: 30px; margin-top: 10px;">
     </input>       
    

            <p>Adicione um banner a sala</p>
            <input type="file" class="banner_CriarSala"></input>

            <p>Adicione pessoas na sua sala</p>
            <input type="search" style="color:#fff; width: 190px;background-color:#481A67;border-radius: 40px; border: 2px solid #B05CEF; padding: 5px;">
             <img src="../static/img/botao-procurar.png" style="height: 25px; width: 20px; display: flex;transform: translate(150px, -130%);" >
            </input>    

            <p style="margin-top: 30px;">Adicione cursos a sua sala</p>
            <input type="search" style="color:#fff; width: 190px; background-color:#481A67;border-radius: 40px; border: 1px solid #B05CEF; padding: 5px;">
            <img src="../static/img/botao-procurar.png" style="height: 25px; width: 20px; ;transform: translate(-50px, 30%);" >
            </input>

            <p style="transform: translate(400px, -1650%);">Adicione uma descrição</p>
            <input style="color:#fff;padding: 50px; background-color:#481A67;border-radius: 5px; transform: translate(400px, -320%);">
        </input>

            <div style="transform: translate(400px, -300%);">
                <p>Data de início</p>
                <input type="date" style="color: #fff; width: 150px; height: 40px; background-color:#481A67;border-radius: 5px;">
            </input>    
                <div style="transform: translate(200px, -100%);">
                    <p>Data final</p>
                    <input type="date" style="color:#fff; width: 150px; height: 40px; background-color:#481A67;border-radius: 5px;">
                </input> 
                </div>   

            </div>

            <div style="display: flex; background-color: #B05CEF; padding: 15px; border-radius: 10px; transform: translate(600px, -500%); width: 140px; cursor: pointer;">
                <p>
                    CRIAR SALA
                </p>
            </div>


            </div>
        </section>


        
    </div>   
    
    


    <footer class="footer_geral">
        <p>© 2023 AccentureTalentHub.Inc | Todos os direitos reservados </p>
    </footer>

</body>
</html>