<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="palavras,separadas,por,vírgulas">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0">
    <title>AccentureTalentHub | Adicionar Curso</title>
    <link rel="shortcut icon" href="../static/img/logo_accenture.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../static/css/home.css">
    <link rel="stylesheet" type="text/css" href="../static/css/geralstyle.css">
    <link rel="stylesheet" type="text/css" href="../static/css/indexstyle.css">
    <link rel="stylesheet" type="text/css" href="../static/css/curso.css">
    <link rel="stylesheet" type="text/css" href="../static/css/adicionarCurso.css">
    <link rel="stylesheet" type="text/css" href="../static/css/areainteresse.css">
    <link rel="stylesheet" href="../static/css/criar_sala.css">

    <!-- Importação dos arquivos CSS para barra de pesquisa -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- Importação dos arquivos Jquary -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body id="">
    <main>
        <nav id="menu-desktop">
            <ul class="lista_dashboard">
                <li id="logo">
                    <a href="home.html">
                        <img src="../static/img/logo_menu.png">
                    </a>
                </li>
                <li class="active">
                    <a href="curso.html">
                        <img class="icon_menu" src="../static/img/icon_cursos.png">
                    </a>
                </li>
                <li>
                    <a href="salas.html">
                        <img class="icon_menu" src="../static/img/icon_trilhas.png">
                    </a>
                </li>
                <li>
                    <a href="desenvol_pessoal.html">
                        <img class="icon_menu" src="../static/img/icon_dp.png">
                    </a>
                </li>
                <li>
                    <a href="curso_concluido.html">
                        <img class="icon_menu" src="../static/img/icon_cursos_concluidos.png">
                    </a>
                </li>
            </ul>

            <ul>
                <li id="icon_usuario_menu" class="lista_dashboard">
                    <img class="icon_menu" src="../static/img/icon_perfil.png">
                </li>
            </ul>
        </nav>

        <!--  Este nav só será ativado quando as páginas estiverem no modo responsivo! -->
        <!--  INICIO DO NAV RESPONSIVO -->
        <div id="icon-menu-responsivo">
            <img src="../static/img/menu-aberto.png">
        </div>

        <nav class="nav-responsivo">
            <ul class="lista_dashboard-responsivo">
                <li id="icon_fechar-responsivo">
                    <img src="../static/img/icon_fechar.png">
                </li>
                <li>
                    <a id="logo-responsivo" href="home.html">
                        <img src="../static/img/logo-responsivo.png">
                        <p>AccentureTalentHub</p>
                    </a>
                </li>
                <li class="active-responsivo">
                    <a class="link-page-responsivo" href="curso.html">
                        <img class="icon_menu-responsivo" src="../static/img/icon_cursos.png">
                        <p>Cursos</p>
                    </a>
                </li>
                <li>
                    <a class="link-page-responsivo" href="salas.html">
                        <img class="icon_menu-responsivo" src="../static/img/icon_trilhas.png">
                        <p>Salas</p>
                    </a>
                </li>
                <li>
                    <a class="link-page-responsivo" href="desenvol_pessoal.html">
                        <img class="icon_menu-responsivo" src="../static/img/icon_dp.png">
                        <p>Mural DPS</p>
                    </a>
                </li>
                <li>
                    <a class="link-page-responsivo" href="curso_concluido.html">
                        <img class="icon_menu-responsivo" src="../static/img/icon_cursos_concluidos.png">
                        <p>Cursos Concluídos</p>
                    </a>
                </li>
            </ul>
            <ul class="lista_dashboard-responsivo">
                <li id="icon_usuario_menu-responsivo" class="lista_dashboard-responsivo">
                    <div class="link-page-responsivo">
                        <img class="icon_menu-responsivo" src="../static/img/icon_perfil.png">
                        <p>Perfil</p>
                    </div>
                </li>
            </ul>
        </nav>

        <!--  FIM DO NAV RESPONSIVO -->

        <div id="menu-suspenso">
            <ul>
                <li><a href="perfil.html">Perfil</a></li>
                <li><a href="index.html">Sair</a></li>
            </ul>
        </div>


        <!-- INÍCIO PÁGINA DE CRIAÇÃO DO CURSO -->
        <section class="caixa_principalCriacao">

            <div class="caixa_criacao">
                <h2>Crie uma sala de aula</h2>
                <a href="perfilLider.html"> <img src="../static/img/icon_fechar.png" alt="" style="transform: translate(740px, -640%);"> </a>

                <form id="formCriarSala" class="forms_criarCurso">
                    <div style="display: flex; justify-content: space-around;">
                        <div>
                            <p>Nome da sala</p>
                            <input id="nomeSala" type="text" class="nome_curso">
    
                            <p>Adicione um banner a sua sala</p>
                            <input id="imagemSala" type="text" class="banner_curso">
                        </div>
                        
                        <div>
                            <p>Adicione uma descrição</p>
                            <textarea id="descricaoSala"  class="descricao_curso" cols="30" rows="10"></textarea>
                        </div>

                        
                    </div>
                                    
                    <div style="width: 100%; display: flex; flex-direction: column;  justify-content: space-around; margin-left: 8%;">
                        <div style="width: 50%;">
                            <p>Data de Início</p>
                            <input id="dataCriacao" type="date" style="color: #fff;width: 100%; height: 30px; background-color:#481A67;border-radius: 10px; border: none; cursor: pointer;">
                        </div>
                        <br>
                        <div style="width: 50%;">
                            <p>Data de Término</p>
                            <input id="dataTermino" type="date" style="color: #fff;width: 100%; height: 30px; background-color:#481A67;border-radius: 10px; border: none; cursor: pointer;">
                        </div>
                        
                        
                    </div>
                    <br>
                    <input id="criarSala" type="submit" value="Criar Template"> 
                </form>
                <button id="botao-criarModulo">Adicionar Pessoas</button>
                <button id="botao-criarModulo" class="adicionarCurso">Adicionar Cursos</button>
                <div style="display: flex; flex-direction: row;">
                    
                
                   
            </div>
            <!-- <input type="submit" value="Finalizar curso"> -->

            <section id="modal-usuarios" style="height: 450px;" class="modal-modulo">
                <div style="display: flex; justify-content: space-between;">
                    <div></div>
                    <img id="fechar_modal-modulo" style="width: 15px; cursor: pointer; "
                        src="../static/img/icon_fechar.png">
                </div>

                <div id="detalhe_senha">
                    <div id="alterar-senha"  style="border: 5px solid #33084F;">
                        <div style="display: flex; align-items: center !important; justify-content: center; padding-top: 1%;">
                            <img style="width: 35px; margin-right: 1%;" src="../static/img/icon_perfil.png" alt="">
                            <h2 style="margin: 0; font-weight: normal;">Usuários cadastrados</h2>
                        </div>
                       
                        <div id="checkboxContainer" style="width: 80%; margin: 0 auto;">
                            <!-- Checkboxes serão adicionados dinamicamente aqui -->
                        </div>
                        <input id="enviarButton" type="submit" value="Adicionar a sala">
                    </div>
                </div> 
            </section>

            <section id="modal-cursos" style="height: 450px;" class="modal-modulo">
                <div style="display: flex; justify-content: space-between;">
                    <div></div>
                    <img id="fechar_modal-modulo-cursos" style="width: 15px; cursor: pointer; "
                        src="../static/img/icon_fechar.png">
                </div>

                <div id="detalhe_senha">
                    <div id="alterar-senha"  style="border: 5px solid #33084F;">
                        <div style="display: flex; align-items: center !important; justify-content: center; padding-top: 1%;">
                            <img style="width: 35px; margin-right: 1%;" src="../static/img/icon_cursos.png" alt="">
                            <h2 style="margin: 0; font-weight: normal;">Cursos cadastrados</h2>
                        </div>
                       
                        <div id="checkboxContainerCursos" style="width: 80%; margin: 0 auto;">
                            <!-- Checkboxes serão adicionados dinamicamente aqui -->
                        </div>
                        <input id="enviarCursosButton" type="submit" value="Adicionar a sala">
                    </div>
                </div> 
            </section>

    </main>

    <div class="fundoPagCursos">
        
    </div>

    <footer class="footer_geral">
        <p>© 2023 AccentureTalentHub.Inc | Todos os direitos reservados </p>
    </footer>

    <script>
        $(document).ready(function () {
            $("#botao-criarModulo").click(function () {
                $("#modal-usuarios").css("display", "flex");
                $("#box_CriarModulo").css("opacity", "0.5");
            });

            $(".adicionarCurso").click(function () {
                $("#modal-cursos").css("display", "flex");
                $("#box_CriarModulo").css("opacity", "0.5");
            });

            $("#fechar_modal-modulo").click(function () {
                $("#modal-usuarios").css("display", "none");
                $("#box_CriarModulo").css("opacity", "1");
            })

            $("#fechar_modal-modulo-cursos").click(function () {
                $("#modal-cursos").css("display", "none");
                $("#box_CriarModulo").css("opacity", "1");
            })
        });
    </script>

    <script>
        
        document.addEventListener("DOMContentLoaded", function () {
            // Função para buscar usuários do servidor
            function getUsuarios() {
                fetch("http://localhost:8080/usuario")
                    .then(response => response.json())
                    .then(data => createCheckboxes(data))
                    .catch(error => console.error('Erro ao buscar usuários:', error));
            }

            // Função para criar checkboxes com base nos usuários
            function createCheckboxes(usuarios) {

                const checkboxContainer = document.getElementById("checkboxContainer");

                usuarios.forEach(usuario => {
                    const checkboxDiv = document.createElement("div");
                    checkboxDiv.className = "checkbox-item";

                    const checkbox = document.createElement("input");
                    checkbox.type = "checkbox";
                    checkbox.id = `usuario_${usuario.idUsuario}`;
                    checkbox.value = usuario.idUsuario;

                    const label = document.createElement("label");
                    label.htmlFor = `usuario_${usuario.idUsuario}`;
                    label.appendChild(document.createTextNode(usuario.nome));

                    checkboxDiv.appendChild(checkbox);
                    checkboxDiv.appendChild(label);

                    checkboxContainer.appendChild(checkboxDiv);
                });
            }

            // Função para obter valores selecionados e enviar para o servidor
            function enviarUsuariosSelecionados() {
                const checkboxes = document.querySelectorAll('input[type="checkbox"]:checked');
                const idsUsuarios = Array.from(checkboxes).map(checkbox => checkbox.value);

                const idSala = localStorage.getItem('idSala');

                // Remover aspas duplas se presentes
                const IdSala = idSala.replace(/"/g, '');

                const url = "http://localhost:8080/usuariosSalas/" + IdSala;

                // Enviar os IDs dos usuários selecionados para o servidor
                fetch(url,{
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify(idsUsuarios),
                })
                .then(response => response.text())
                .then(data => alert(data))
                .catch(error => console.error('Erro ao enviar usuários selecionados:', error));
            }

            // Chamar a função para buscar usuários ao carregar a página
            getUsuarios();

            // Adicionar um evento de clique para o botão de enviar
            const enviarButton = document.getElementById("enviarButton");
            enviarButton.addEventListener("click", enviarUsuariosSelecionados);
        });

    </script>

    

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const criarSala = document.getElementById('formCriarSala');

            criarSala.addEventListener('submit', function (e) {
                e.preventDefault();

                const nomeSala = document.getElementById('nomeSala').value;
                const imagemSala = document.getElementById('imagemSala').value;
                const descricaoSala = document.getElementById('descricaoSala').value;
                const dataCriacao = document.getElementById('dataCriacao').value;
                const dataTermino = document.getElementById('dataTermino').value;

                fetch("http://localhost:8080/salas", {
                    method: "POST",
                    headers: {
                        "Accept": "application/json",
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        descricao: descricaoSala,
                        nome: nomeSala,
                        banner: imagemSala,
                        dataCriacao: dataCriacao,
                        dataTermino: dataTermino
                    })
                })
                .then(function (res) {
                    if (res.ok) {
                        return res.text(); // Retorna o corpo da resposta como texto
                    } else {
                        throw new Error("Erro ao criar sala. Por favor, tente novamente.");
                    }
                })
                .then(function (idSala) {
                    alert("Sala criada com sucesso!");
                    localStorage.setItem('idSala', idSala);
                    // Aqui você pode fazer algo com o ID da sala, se necessário
                })
                .catch(function (error) {
                    console.error("Erro na solicitação: " + error);
                });
            });
        });
    </script>
    

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Função para buscar usuários do servidor
            function getCursos() {
                fetch("http://localhost:8080/cursos")
                    .then(response => response.json())
                    .then(data => createCheckboxes(data))
                    .catch(error => console.error('Erro ao buscar usuários:', error));
            }

            // Função para criar checkboxes com base nos usuários
            function createCheckboxes(cursos) {

                const checkboxContainer = document.getElementById("checkboxContainerCursos");

                cursos.forEach(curso => {
                    const checkboxDiv = document.createElement("div");
                    checkboxDiv.className = "checkbox-item";

                    const checkbox = document.createElement("input");
                    checkbox.type = "checkbox";
                    checkbox.id = `curso${curso.IdCurso}`;
                    checkbox.value = curso.IdCurso;

                    const label = document.createElement("label");
                    label.htmlFor = `curso${curso.IdCurso}`;
                    label.appendChild(document.createTextNode(curso.nome));

                    checkboxDiv.appendChild(checkbox);
                    checkboxDiv.appendChild(label);

                    checkboxContainer.appendChild(checkboxDiv);
                });
            }

            // Função para obter valores selecionados e enviar para o servidor
            function enviarCursosSelecionados() {
                const checkboxes = document.querySelectorAll('input[type="checkbox"]:checked');
                const idsCursos = Array.from(checkboxes).map(checkbox => checkbox.value);

                const idSala = localStorage.getItem('idSala');

                // Remover aspas duplas se presentes
                const IdSala = idSala.replace(/"/g, '');

                const url = "http://localhost:8080/salasCursos/" + IdSala;

                // Enviar os IDs dos usuários selecionados para o servidor
                fetch(url,{
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify(idsCursos),
                })
                .then(response => response.text())
                .then(data => alert(data))
                .catch(error => console.error('Erro ao enviar usuários selecionados:', error));
            }

            // Chamar a função para buscar cursos ao carregar a página
            getCursos();

            // Adicionar um evento de clique para o botão de enviar
            const enviarButton = document.getElementById("enviarCursosButton");
            enviarButton.addEventListener("click", enviarCursosSelecionados);
        });
    </script>

</body>

</html>