<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="keywords" content="palavras,separadas,por,vírgulas">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0">
	<title>AccentureTalentHub | Home</title>
	<link rel="shortcut icon" href="../static/img/logo_accenture.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../static/css/home.css">
    <link rel="stylesheet" type="text/css" href="../static/css/geralstyle.css">
    <link rel="stylesheet" type="text/css" href="../static/css/indexstyle.css">
    <link rel="stylesheet" type="text/css" href="../static/css/curso.css">
    <link rel="stylesheet" type="text/css" href="../static/css/criar_sala.css">

    <!-- Importação dos arquivos CSS para barra de pesquisa -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- Importação dos arquivos Jquary -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body id="">
 <main>
        <nav>
            <ul class="lista_dashboard">
                <li id="logo">
                    <a href="home.html">
                        <img src="../static/img/logo_menu.png">
                    </a>
                </li>
                <li class="active">
                    <a href="curso.html">
                        <img class="icon_menu" src="../static/img/icon_cursos.png">
                    </a>
                </li>
                <li>
                    <a href="salas.html">
                        <img class="icon_menu" src="../static/img/icon_trilhas.png">
                    </a>
                </li>
                <li>
                    <a href="desenvol_pessoal.html">
                        <img class="icon_menu" src="../static/img/icon_dp.png">
                    </a>
                </li>
                <li>
                    <a href="curso_concluido.html">
                        <img class="icon_menu" src="../static/img/icon_cursos_concluidos.png">
                    </a>
                </li>
            </ul>
    
            <ul>
                <li id="icon_usuario_menu" class="lista_dashboard">
                    <a href="perfil.html">
                        <img class="icon_menu" src="../static/img/icon_perfil.png">
                    </a>
                </li>
            </ul>
        </nav>
     
    </main>
    
    <div class="box_CriarSala">
        <h2>Crie uma Sala </h2>
       <a href="perfilLider.html"> <img src="../static/img/icon_fechar.png" alt="" style="transform: translate(755px, -850%);">  </a> 

        <section class="Criar_Sala">
            <p>Nome da sala</p>
        <div style="width: 270px; height: 25px; background-color:#481A67;border-radius: 5px; margin-bottom: 30px; margin-top: 10px;">
     </div>       
    

            <p>Adicione um banner a sala</p>
            <div class="banner_CriarSala"></div>

            <p>Adicione pessoas na sua sala</p>
            <div style="width: 190px; height: 40px; background-color:#481A67;border-radius: 40px; border: 2px solid #B05CEF ; margin-bottom: 30px;">
             <img src="../static/img/botao-procurar.png" style="height: 25px; width: 20px; display: flex;transform: translate(150px, 20%);" >
            </div>    

            <p style="margin-top: 30px;">Adicione cursos a sua sala</p>
            <div style="width: 190px; height: 40px; background-color:#481A67;border-radius: 40px; border: 1px solid #B05CEF;">
            <img src="../static/img/botao-procurar.png" style="height: 25px; width: 20px; ;transform: translate(150px, 20%);" >
            </div>

            <p style="transform: translate(400px, -1750%);">Adicione uma descrição</p>
            <div style="width: 270px; height: 100px; background-color:#481A67;border-radius: 5px; transform: translate(400px, -410%);"> <p style="display: flex; font-size: 8px; color: grey;float: right; transform: translate(-8px, 600%); ">0/500
            </p>
            </div>

            <div style="transform: translate(400px, -300%);">
                <p>Data de início</p>
                <div style=" width: 150px; height: 40px; background-color:#481A67;border-radius: 5px;">
            </div>    
                <div style="transform: translate(200px, -100%);">
                    <p>Data final</p>
                    <div style="width: 150px; height: 40px; background-color:#481A67;border-radius: 5px;">
                    </div> 
                </div>   

            </div>

            <div style="border: 1px solid white; border-radius: 10px; display: flex; width: 110px; padding: 5px; transform: translate(350px, -1400%);font-size: 10px;" >
                <p>Isabela Silva</p>
                <div style="margin-left: 10px;">
                    <img class="icon_fechar" src="../static/img/icon_fechar.png" style="width: 10px;">
                </div>
            </div>

            <div style="border: 1px solid white; border-radius: 10px; display: flex; width: 150px; padding: 5px; transform: translate(480px, -1498%);font-size: 10px;" >
                <p>Jhonnatas Mendonça</p>
                <div style="margin-left: 10px;">
                    <img class="icon_fechar" src="../static/img/icon_fechar.png">
                </div>
            </div>

            <div style="border: 1px solid white; border-radius: 10px; display: flex; width: 120px; padding: 5px; transform: translate(650px, -1595%);font-size: 10px;" >
                <p>Karolyna Rolim</p>
                <div style="margin-left: 10px;">
                    <img class="icon_fechar" src="../static/img/icon_fechar.png">
                </div>
            </div>

            <div style="border: 1px solid white; border-radius: 10px; display: flex; width: 130px; padding: 5px; transform: translate(350px, -1580%);font-size: 10px;" >
                <p>Keylane Cardoso</p>
                <div style="margin-left: 10px;">
                    <img class="icon_fechar" src="../static/img/icon_fechar.png">
                </div>
            </div>

            <div style="border: 1px solid white; border-radius: 10px; display: flex; width: 120px; padding: 5px; transform: translate(490px, -1680%);font-size: 10px;" >
                <p>Levi Marinho</p>
                <div style="margin-left: 10px;">
                    <img class="icon_fechar" src="../static/img/icon_fechar.png">
                </div>
            </div>

            <div style="border: 1px solid white; border-radius: 10px; display: flex; width: 120px; padding: 5px; transform: translate(620px, -1780%);font-size: 10px;" >
                <p>Luísa Ferreira</p>
                <div style="margin-left: 10px;">
                    <img class="icon_fechar" src="../static/img/icon_fechar.png">
                </div>
            </div>

            <div style="border: 1px solid white; border-radius: 10px; display: flex; width: 120px; padding: 5px; transform: translate(350px, -1760%);font-size: 10px;" >
                <p>Luiz Nery</p>
                <div style="margin-left: 10px;">
                    <img class="icon_fechar" src="../static/img/icon_fechar.png">
                </div>
            </div>

            <div style="border: 1px solid white; border-radius: 10px; display: flex; width: 150px; padding: 5px; transform: translate(350px, -1600%);font-size: 10px;" >
                <p>Java com Spring Boot</p>
                <div style="margin-left: 10px;">
                    <img class="icon_fechar" src="../static/img/icon_fechar.png">
                </div>
            </div>

            <div style="display: flex; background-color: #B05CEF; padding: 15px; border-radius: 10px; transform: translate(620px, -880%); width: 140px;">
                <p>
                    CRIAR SALA
                </p>
            </div>


            </div>
        </section>


        
    </div>   
    
    


    <footer class="footer_geral">
        <p>© 2023 AccentureTalentHub.Inc | Todos os direitos reservados </p>
    </footer>

</body>
</html>