<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="keywords" content="palavras,separadas,por,vírgulas">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0">
	<title>AccentureTalentHub | Cursos</title>
	<link rel="shortcut icon" href="../static/img/logo_accenture.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../static/css/geralstyle.css">
    <link rel="stylesheet" type="text/css" href="../static/css/home.css">
    <link rel="stylesheet" type="text/css" href="../static/css/curso.css">


    <!-- Importação dos arquivos CSS para barra de pesquisa -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- Importação dos arquivos Jquary -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body id="">
    <main>
        <nav id="menu-desktop">
            <ul class="lista_dashboard">
                <li id="logo">
                    <a href="home.html">
                        <img src="../static/img/logo_menu.png">
                    </a>
                </li>
                <li class="active">
                    <a href="curso.html">
                        <img class="icon_menu" src="../static/img/icon_cursos.png">
                    </a>
                </li>
                <li>
                    <a href="salas.html">
                        <img class="icon_menu" src="../static/img/icon_trilhas.png">
                    </a>
                </li>
                <li>
                    <a href="desenvol_pessoal.html">
                        <img class="icon_menu" src="../static/img/icon_dp.png">
                    </a>
                </li>
                <li>
                    <a href="curso_concluido.html">
                        <img class="icon_menu" src="../static/img/icon_cursos_concluidos.png">
                    </a>
                </li>
            </ul>
    
            <ul>
                <li id="icon_usuario_menu" class="lista_dashboard">
                    <a href="perfil.html">
                        <img class="icon_menu" src="../static/img/icon_perfil.png">
                    </a>
                </li>
            </ul>
        </nav>
    
        <section id="box_info_dashboard">

            <header style="text-align: left; display: block;">
                <h1 id="title_curso" style="text-align: left;">Cursos</h1>
                <br>
                <div id="box_perfil">
                    <div id="box_info_perfil">
                        
                        <div style="width: 100%;">
                            <div class="box_filtro">
                                <img id="Icon_filtrar" src="../static/img/Icon_filtrar.png">
                                <ul class="lista_filtro">
                                    <li>
                                        <p>HTML</p>
                                        <img class="icon_fechar" src="../static/img/icon_fechar.png">
                                    </li>
                                    <li>
                                        <p>CSS</p>
                                        <img class="icon_fechar" src="../static/img/icon_fechar.png">
                                    </li>
                                    <li>
                                        <p>JavaScript</p>
                                        <img class="icon_fechar" src="../static/img/icon_fechar.png">
                                    </li>
                                </ul>
    
                                <div style="left: 15%;" class="search-container">
                                    <input type="search">
                                    <i class="fas fa-search"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            
            <div class="box_trilhas">

                <div class="box_escolha_cusos">
                    <div class="center_cursos"> <!--Aqui só pode ter três divs de cursos. -->
                        <div class="box_curso">
                            <div class="info_curso">
                                <img class="img_curso" src="../static/img/curso_js.png" alt="">
                                <h2>Curso JavaScript</h2>
                                <ul>
                                    <li>P.O.O</li>
                                    <li>CSS</li>
                                    <li>JavaScript-puro</li>
                                </ul>
                                <button class="button_curso">Saiba mais</button>
                            </div>
                        </div>

                        <div class="box_curso">
                            <div class="info_curso">
                                <img src="../static/img/curso_js.png" alt="">
                                <h2>Curso JavaScript</h2>
                                <ul>
                                    <li>P.O.O</li>
                                    <li>CSS</li>
                                    <li>JavaScript-puro</li>
                                </ul>
                                <button>Saiba mais</button>
                            </div>
                        </div>

                        <div class="box_curso">
                            <div class="info_curso">
                                <img src="../static/img/curso_js.png" alt="">
                                <h2>Curso JavaScript</h2>
                                <ul>
                                    <li>P.O.O</li>
                                    <li>CSS</li>
                                    <li>JavaScript-puro</li>
                                </ul>
                                <button>Saiba mais</button>
                            </div>
                        </div>
                    </div>

                    <div class="center_cursos"> <!--Aqui só pode ter três divs de cursos. -->
                        <div class="box_curso">
                            <div class="info_curso">
                                <img src="../static/img/curso_js.png" alt="">
                                <h2>Curso JavaScript</h2>
                                <ul>
                                    <li>P.O.O</li>
                                    <li>CSS</li>
                                    <li>JavaScript-puro</li>
                                </ul>
                                <button>Saiba mais</button>
                            </div>
                        </div>

                        <div class="box_curso">
                            <div class="info_curso">
                                <img src="../static/img/curso_js.png" alt="">
                                <h2>Curso JavaScript</h2>
                                <ul>
                                    <li>P.O.O</li>
                                    <li>CSS</li>
                                    <li>JavaScript-puro</li>
                                </ul>
                                <button>Saiba mais</button>
                            </div>
                        </div>

                        <div class="box_curso">
                            <div class="info_curso">
                                <img src="../static/img/curso_js.png" alt="">
                                <h2>Curso JavaScript</h2>
                                <ul>
                                    <li>P.O.O</li>
                                    <li>CSS</li>
                                    <li>JavaScript-puro</li>
                                </ul>
                                <button>Saiba mais</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

           

        </section>

        <section class="modal">
            <div style="display: flex; justify-content: space-between;">
                <div></div>
                <img id="fechar_modal" style="width: 15px; cursor: pointer;" src="../static/img/icon_fechar.png">
            </div>
            
            <div id="detalhe_curso">
                <div id="capa_curso">
                    <img src="../static/img/curso_js.png" alt="">
                    <p class="txt_info_curso">Horas totais: 5H</p>
                    <p class="txt_info_curso">Instrutor: Jorge Dário</p>
                    <p class="txt_info_curso">Categorias: P.O.O | CSS | JavaScript-puro</p>
                </div>
                <div>
                    <h3 style="text-align: center; color: #fff; font-weight: normal;">Curso JavaScript</h3>
                    <br>
                    <p style="margin-bottom: 0.5%; color: #fff;">Mussum Ipsum, cacilds vidis litro abertis.  Mé faiz elementum girarzis, 
                        nisi eros vermeio. Mais vale um bebadis conhecidiss, que um alcoolatra anonimis.Mussum Ipsum, cacilds vidis litro abertis.  Mé faiz elementum girarzis, 
                        nisi eros vermeio. Mais vale um bebadis conhecidiss, que um alcoolatra anonimis.</p>
                   
                    <input id="adicionar_sala" type="submit" name="" value="Adicionar a sua sala">
                </div>
                
            </div>
        </section>

        
    </main>

    
    
    <footer class="footer_geral">
        <p>© 2023 AccentureTalentHub.Inc | Todos os direitos reservados </p>
    </footer>

    <script>
        $(document).ready(function(){
            $(".button_curso").click(function() {
                $(".modal").css("display", "flex");
                $("#box_info_dashboard").css("opacity", "0.5");
            });
            
            $("#fechar_modal").click(function() {
                $(".modal").css("display", "none");
                $("#box_info_dashboard").css("opacity", "1");
            });

            $("#adicionar_sala").click(function() {
                alert("Curso adicionado com sucesso!");
                window.location.href = 'minha_sala_de_aula.html';
            })
        });
    </script>

</body>
</html>