<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="keywords" content="palavras,separadas,por,vírgulas">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0">
	<title>AccentureTalentHub | Login</title>
	<link rel="shortcut icon" href="img/logo_accenture.png" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="../static/css/geralstyle.css">

    <!-- Importação dos arquivos CSS para barra de pesquisa -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- Importação dos arquivos CSS do Slick carousel -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"/>
    
    <!-- Importação dos arquivos Jquary -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Importação do arquivo JavaScript do Slick carousel -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>


</head>
<body id="body_dashboard">
    <nav>
        <ul class="lista_dashboard">
            <li id="logo">
                <a href="">
                    <img src="../static/img/logo_accenture.png">
                </a>
            </li>
            <li class="active">
                <a href="">
                    <img class="icon_menu" src="../static/img/diplomado.png">
                </a>
            </li>
            <li>
                <a href="">
                    <img class="icon_menu" src="../static/img/rota.png">
                </a>
            </li>
            <li>
                <a href="">
                    <img class="icon_menu" src="../static/img/estrela.png">
                </a>
            </li>
            <li>
                <a href="">
                    <img class="icon_menu" src="../static/img/bubble-chat.png">
                </a>
            </li>
        </ul>

        <ul>
            <li id="icon_usuario_menu">
                <a href="">
                    <img class="icon_menu" src="../static/img/usuario.png">
                </a>
            </li>
        </ul>
    </nav>

    <section id="box_info_dashboard">
        <div id="box_perfil">
            <div id="box_info_perfil">
                <div id="info_perfil">
                    <div id="txt_perfil">
                        <h3>Débora Calasans</h3>
                        <p>Nível 1</p>
                    </div>
    
                    <div id="barra_progresso"></div>
                </div>

                <div>
                    <img src="../static/img/avatar.png">
                </div>
            </div>
            
            <div class="search-container">
                <input type="search" placeholder="Pesquisar">
                <i class="fas fa-search"></i>
            </div>
        </div>

        <div id="line_perfil"></div>

        <div class="box_trilhas">
            <div class="txt_trilhas_cursos">
                <h2>Suas Trilhas</h2>
                <img id="icon_trilha" src="../static/img/estrela.png">
            </div>
            <div id="box_exemplos_trilhas">
                <div class="multiple-items">
                    <a href="https://trello.com/b/j52aEfv2/quadro-kanban">
                        <img src="../static/img/Sala1.png" alt="">
                    </a>
                    <a href="https://trello.com/b/TYeRXPr5/product-backlog">
                        <img src="../static/img/Sala2.png" alt="">
                    </a>
                    <a href="https://trello.com/b/j52aEfv2/quadro-kanban">
                        <img src="../static/img/Sala1.png" alt="">
                    </a>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="box_cursos">
            <div class="txt_trilhas_cursos">
                <h2>Continue Assistindo</h2>
            </div>

            <div id="box_exemplos_cursos">
                <div class="multiple-items2">
                    <a href="https://trello.com/b/j52aEfv2/quadro-kanban">
                        <img src="../static/img/curso_js.png" alt="">
                    </a>
                    <a href="https://trello.com/b/TYeRXPr5/product-backlog">
                        <img src="../static/img/curso_php.jpg" alt="">
                    </a>
                    <a href="https://trello.com/b/j52aEfv2/quadro-kanban">
                        <img src="../static/img/curso_js.png" alt="">
                    </a>
                    <a href="https://trello.com/b/j52aEfv2/quadro-kanban">
                        <img src="../static/img/curso_php.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>

        <br>
        <br>
        <div class="box_cursos">
            <div class="txt_trilhas_cursos">
                <h2>Cursos Sugeridos</h2>
            </div>

            <div id="box_exemplos_cursos">
                <div class="multiple-items2">
                    <a href="https://trello.com/b/j52aEfv2/quadro-kanban">
                        <img src="../static/img/curso_js.png" alt="">
                    </a>
                    <a href="https://trello.com/b/TYeRXPr5/product-backlog">
                        <img src="../static/img/curso_php.jpg" alt="">
                    </a>
                    <a href="https://trello.com/b/j52aEfv2/quadro-kanban">
                        <img src="../static/img/curso_js.png" alt="">
                    </a>
                    <a href="https://trello.com/b/j52aEfv2/quadro-kanban">
                        <img src="../static/img/curso_php.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>

        <br>
        <br>
        <div class="box_cursos">
            <div class="txt_trilhas_cursos">
                <h2>Cursos Obrigatórios</h2>
            </div>

            <div id="box_exemplos_cursos">
                <div class="multiple-items2">
                    <a href="https://trello.com/b/j52aEfv2/quadro-kanban">
                        <img src="../static/img/curso_js.png" alt="">
                    </a>
                    <a href="https://trello.com/b/TYeRXPr5/product-backlog">
                        <img src="../static/img/curso_php.jpg" alt="">
                    </a>
                    <a href="https://trello.com/b/j52aEfv2/quadro-kanban">
                        <img src="../static/img/curso_js.png" alt="">
                    </a>
                    <a href="https://trello.com/b/j52aEfv2/quadro-kanban">
                        <img src="../static/img/curso_php.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>

        <footer class="footer_geral">
            <p>© 2023 AccentureTalentHub.Inc | Todos os direitos reservados </p>
        </footer>
    </section>

    
    
    


    <script>
        $('.multiple-items').slick({
            infinite: true,
            slidesToShow: 2,
            slidesToScroll: 1,
            arrows: false
        });

        $('.multiple-items2').slick({
            infinite: true,
            slidesToShow: 3,
            slidesToScroll: 1,
            arrows: false
        });
    </script>

</body>
</html>