<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/mural-dps-lider.css">
    <link rel="stylesheet" href="../static/css/geralstyle.css">
    <title>Mural do DPS</title>
</head>

<body>
    <aside class="barra-lateral">

        <nav id="menu-desktop">
            <ul class="lista_dashboard">
                <li id="logo">
                    <a href="home.html">
                        <img src="../static/img/logo_menu.png">
                    </a>
                </li>
                <li class="active">
                    <a href="curso.html">
                        <img class="icon_menu" src="../static/img/icon_cursos.png">
                    </a>
                </li>
                <li>
                    <a href="salas.html">
                        <img class="icon_menu" src="../static/img/icon_trilhas.png">
                    </a>
                </li>
                <li>
                    <a href="desenvol_pessoal.html">
                        <img class="icon_menu" src="../static/img/icon_dp.png">
                    </a>
                </li>
                <li>
                    <a href="curso_concluido.html">
                        <img class="icon_menu" src="../static/img/icon_cursos_concluidos.png">
                    </a>
                </li>
            </ul>

            <ul>
                <li id="icon_usuario_menu" class="lista_dashboard">
                    <a href="perfil.html">
                        <img class="icon_menu" src="../static/img/icon_perfil.png">
                    </a>
                </li>
            </ul>
        </nav>

    </aside>
    <header>


        <div class="header-perfil">
            <h1>Mural de<br>Desenvolvimento Pessoal</h1>


            <div class="header-perfil-2">

                <button id="buttonMural" type="button">Visualizar meu Mural</button>

                <label>
                    <input type="text" placeholder="Pesquisar Colaborador">
                    <button id="buttonColaborador" type="button">
                        <img id="iconLupa" src="../static/img/icon-lupa.svg" alt="icone Lupa">
                    </button>
                </label>

            </div>

            <div class="divisor"></div>

        </div>
    </header>
    <main>

        <div class="perfil">
            <div class="perfil-1">
                <div class="img-perfil">
                    <img src="../static/img/img-perfil.svg" alt="foto de perfil">
                </div>
                <h2>Cargo Atual</h2>
            </div>
            <div class="perfil-2">
                <h2>Nome Colaborador</h2>
                <div class="barra-progresso">
                    <div class="barra"></div>
                    <span></span>
                </div>
            </div>
        </div>

        <section class="skills">
            <div class="hard-skill">
                <h1>Hard Skills</h1>
                <div class="linguagem">
                    <div class="barra-progresso-linguagem">
                        <div class="progresso"></div>
                    </div>
                    <p class="favorito">Java</p>
                </div>
                <div class="linguagem">
                    <div class="barra-progresso-linguagem">
                        <div class="progresso"></div>
                    </div>
                    <p class="">Python</p>
                </div>
                <div class="linguagem">
                    <div class="barra-progresso-linguagem">
                        <div class="progresso"></div>
                    </div>
                    <p class="">Linux</p>
                </div>
            </div>


            <div class="soft-skill">
                <h1>Soft Skills</h1>
                <div class="linguagem">
                    <div class="barra-progresso-linguagem">
                        <div class="progresso"></div>
                    </div>
                    <p class="favorito">Inteligência Emocional</p>
                </div>
                <div class="linguagem">
                    <div class="barra-progresso-linguagem">
                        <div class="progresso"></div>
                    </div>
                    <p class="">Comunicação Assertiva</p>
                </div>
                <div class="linguagem">
                    <div class="barra-progresso-linguagem">
                        <div class="progresso"></div>
                    </div>
                    <p class="">Gestão de Tempo</p>
                </div>
            </div>
        </section>

        <section class="cursos">
            <h1>Cursos Concluidos</h1>
            <div class="cursos-concluidos">
                <div class="curso"></div>
                <div class="curso"></div>
                <div class="curso"></div>
                <div class="curso"></div>
                <div class="curso"></div>
            </div>
        </section>

        <section class="avaliacoes">
            <h1>Avaliações Supervisores</h1>
            <div class="avaliacao">
                <div class="img-avaliador"></div>
                <div class="msg-avaliacao">
                    <p>Fulano desenvolveu muito bem as aplicações em java</p>
                </div>
            </div>
            <div class="avaliacao">
                <div class="img-avaliador"></div>
                <div class="msg-avaliacao">
                    <p>Fulano desenvolveu muito bem as aplicações em java</p>
                </div>
            </div>
        </section>

    </main>

    <footer class="footer_geral">
        <p>© 2023 accentureTalentHub.Inc. Todos os direitos reservados </p>
    </footer>

</body>

</html>