<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="keywords" content="palavras,separadas,por,vírgulas">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0">
	<title>AccentureTalentHub | Home</title>
	<link rel="shortcut icon" href="../static/img/logo_accenture.png" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="../static/css/home.css">
    <link rel="stylesheet" type="text/css" href="../static/css/geralstyle.css">

    <!-- Importação dos arquivos CSS para barra de pesquisa -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- Importação dos arquivos Jquary -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/js/script.js"></script>


</head>
<body id="">
    <main>

        <nav id="menu-desktop">
            <ul class="lista_dashboard">
                <li id="logo">
                    <a href="home.html">
                        <img src="../static/img/logo_menu.png">
                    </a>
                </li>
                <li class="active">
                    <a href="curso.html">
                        <img class="icon_menu" src="../static/img/icon_cursos.png">
                    </a>
                </li>
                <li>
                    <a href="salas.html">
                        <img class="icon_menu" src="../static/img/icon_trilhas.png">
                    </a>
                </li>
                <li>
                    <a href="desenvol_pessoal.html">
                        <img class="icon_menu" src="../static/img/icon_dp.png">
                    </a>
                </li>
                <li>
                    <a href="curso_concluido.html">
                        <img class="icon_menu" src="../static/img/icon_cursos_concluidos.png">
                    </a>
                </li>
            </ul>
    
            <ul>
                <li id="icon_usuario_menu" class="lista_dashboard">
                    <img class="icon_menu" src="../static/img/icon_perfil.png">
                </li>
            </ul>
        </nav>

        <!--  Este nav só será ativado quando as páginas estiverem no modo responsivo! -->
        <!--  INICIO DO NAV RESPONSIVO -->
        <div id="icon-menu-responsivo">
            <img src="../static/img/menu-aberto.png">
        </div>
        
        <nav class="nav-responsivo">
            <ul class="lista_dashboard-responsivo">
                <li id="icon_fechar-responsivo">
                    <img src="../static/img/icon_fechar.png">
                </li>
                <li>
                    <a id="logo-responsivo" href="home.html">
                        <img src="../static/img/logo-responsivo.png">
                        <p>AccentureTalentHub</p>
                    </a>
                </li>
                <li class="active-responsivo">
                    <a class="link-page-responsivo" href="curso.html">
                        <img class="icon_menu-responsivo" src="../static/img/icon_cursos.png">
                        <p>Cursos</p>
                    </a>         
                </li>
                <li>
                    <a class="link-page-responsivo" href="salas.html">
                        <img class="icon_menu-responsivo" src="../static/img/icon_trilhas.png">
                        <p>Salas</p>
                    </a>                
                </li>
                <li>
                    <a class="link-page-responsivo" href="desenvol_pessoal.html">
                        <img class="icon_menu-responsivo" src="../static/img/icon_dp.png">
                        <p>Mural DPS</p>
                    </a> 
                </li>
                <li>
                    <a class="link-page-responsivo" href="curso_concluido.html">
                        <img class="icon_menu-responsivo" src="../static/img/icon_cursos_concluidos.png">
                        <p>Cursos Concluídos</p>
                    </a>
                </li>
            </ul>
            <ul class="lista_dashboard-responsivo">
                <li id="icon_usuario_menu-responsivo" class="lista_dashboard-responsivo">
                    <div class="link-page-responsivo">
                        <img class="icon_menu-responsivo" src="../static/img/icon_perfil.png">
                        <p>Perfil</p>
                    </div>
                </li>
            </ul>
        </nav>

        <!--  FIM DO NAV RESPONSIVO -->

        <div id="menu-suspenso">
            <ul>
                <li><a href="perfil.html">Perfil</a></li>
                <li><a href="index.html">Sair</a></li>
            </ul>
        </div>
    
        <section id="box_info_dashboard">
            <header>
                <img id="logo-descrita" src="../static/img/logo_descrita.png">
            </header>
            
            <div id="box_perfil">
                <div id="box_info_perfil">

                    <div>
                        <img src="../static/img/avatar.png">
                        <p style="color: #B05CEF; text-align: center;">Cargo Atual</p>
                    </div>

                    <div id="info_perfil">
                        
                        <div id="txt_perfil">
                            <h3>Débora Calasans</h3>
                            <p>Nível 1</p>
                        </div>
        
                        <div id="barra_progresso"></div>
                        <p>950/1000</p>
                    </div>

                </div>
                
                <div class="search-container">
                    <input type="search">
                    <i class="fas fa-search"></i>
                </div>
            </div>

            <div class="box_trilhas">
                <div class="txt_trilhas_cursos">
                    <h2>Suas Trilhas</h2>
                    <img id="icon_trilha" src="../static/img/estrela.png">
                </div>
                <div id="box_exemplos_trilhas">
                    <div class="multiple-items">
                        <a href="sala_de_aula.html">
                            <img src="../static/img/Sala1.png" alt="">
                        </a>
                        <a href="#">
                            <img src="../static/img/Sala2.png" alt="">
                        </a>
                        <a href="#">
                            <img src="../static/img/Sala1.png" alt="">
                        </a>
                        <a href="#">
                            <img src="../static/img/Sala2.png" alt="">
                        </a>
                    </div>
                </div>
            </div>

            <div class="box_trilhas">
                <div class="txt_trilhas_cursos">
                    <h2>Continue Assistindo</h2>
                </div>
    
                <div id="box_exemplos_cursos">
                    <div class="multiple-items-cursos">
                        <a href="areaestudos.html">
                            <img src="../static/img/curso_js.png" alt="">
                        </a>
                        <a href="#">
                            <img src="../static/img/curso_php.jpg" alt="">
                        </a>
                        <a href="#">
                            <img src="../static/img/curso_js.png" alt="">
                        </a>
                        <a href="#">
                            <img src="../static/img/curso_php.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>

            <div class="box_trilhas">
                <div class="txt_trilhas_cursos">
                    <h2>Cursos Sugeridos</h2>
                </div>
    
                <div id="box_exemplos_cursos">
                    <div class="multiple-items-cursos">
                        <a href="#">
                            <img src="../static/img/curso_js.png" alt="">
                        </a>
                        <a href="#">
                            <img src="../static/img/curso_php.jpg" alt="">
                        </a>
                        <a href="#">
                            <img src="../static/img/curso_js.png" alt="">
                        </a>
                        <a href="#">
                            <img src="../static/img/curso_php.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>

            <div class="box_trilhas">
                <div class="txt_trilhas_cursos">
                    <h2>Cursos Obrigatórios</h2>
                </div>
    
                <div id="box_exemplos_cursos">
                    <div class="multiple-items-cursos">
                        <a href="#">
                            <img src="../static/img/curso_js.png" alt="">
                        </a>
                        <a href="#">
                            <img src="../static/img/curso_php.jpg" alt="">
                        </a>
                        <a href="#">
                            <img src="../static/img/curso_js.png" alt="">
                        </a>
                        <a href="#">
                            <img src="../static/img/curso_php.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>

        </section>
    </main>
    
    <footer class="footer_geral">
        <p>© 2023 AccentureTalentHub.Inc | Todos os direitos reservados </p>
    </footer>

</body>
</html>