<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="keywords" content="palavras,separadas,por,vírgulas">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0">
	<title>AccentureTalentHub | Login</title>
	<link rel="shortcut icon" href="../static/img/logo_accenture.png" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="../static/css/geralstyle.css">
    <link rel="stylesheet" type="text/css" href="../static/css/indexstyle.css">
    
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body id="body_login">
    <section id="box_center">
        <!-- <img style="width: 456px;border-top-left-radius: 15px;border-top-right-radius: 15px;" src="../static/img/logo_index.png"> -->
        <div id="box_login">
            <h2>Conectar</h2>
            <form id="form_login">
                <label>Usuário</label>
                <input id="usuarioLogin" type="text" name="usuarioLogin" required>
                <label>Senha</label>
                <input id="senhaLogin" type="password" name="senhaLogin" >
                <p class="mensagem-erro" style="color: red;font-size: 12px;"></p>
                <input id="validarLogin" type="submit" name="validarLogin" value="Entrar">
                <a href="recuperar_senha.html">Esqueci minha senha</a>
            </form>
        </div>
        
        <div class="fundo-pixel">
        </div>

        <section id="box_name_plataform">
            <div class="line"></div>
            <p>AccentureTalentHub</p>
            <div class="line"></div>
        </section>

        

        <footer id="footer_login">
            <p>© 2023 AccentureTalentHub.Inc | Todos os direitos reservados </p>
        </footer>
    </section>
	

	

	
	<script>
        $(document).ready(function(){
            $("#box_center").fadeIn(2000);
            $("#box_center").css("display", "flex");
        });

        const formulario = document.getElementById("form_login");
        const usuarioLogin = document.getElementById("usuarioLogin");
        const senhaLogin = document.getElementById("senhaLogin");
        const mensagemErro = document.querySelector('.mensagem-erro');

        function validarLogin() {
            fetch("http://localhost:8080/login", {
                method: "POST",
                headers: {
                    "Accept": "application/json",
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    usuario: usuarioLogin.value,
                    senha: senhaLogin.value
                })
            })
            .then(function (res) {
                if (res.ok) {
                    // Verifica se a senha é "Mudar@123"
                    return res.json().then(function(data) {
                        const email = data.email;
                        const id = data.idUsuario;
                        const cursosConcluidos = data.cursosConcluidos;
                        const interesses = data.interesses;
                        const usuario = data.usuario;
                        const nome = data.nome;
                        const cargo = data.cargo;
                        const foto = data.foto;
                        const pontuacaoGeral = data.pontuacaoGeral;
                        const nivel = data.nivel;
                        const nivelInteresse = data.nivelInteresse;
                        const nivelUsuario = data.nivelUsuario;

   
                        localStorage.setItem('emailUsuario', email);
                        localStorage.setItem('idUsuario', id);
                        localStorage.setItem('cursosConcluidos', cursosConcluidos);
                        localStorage.setItem('interesses', interesses);
                        localStorage.setItem('usuario', usuario);
                        localStorage.setItem('nome', nome);
                        localStorage.setItem('cargo', cargo);
                        localStorage.setItem('foto', foto);
                        localStorage.setItem('pontuacaoGeral', pontuacaoGeral);
                        localStorage.setItem('nivel', nivel);
                        localStorage.setItem('nivelInteresse', nivelInteresse);
                        localStorage.setItem('nivelUsuario', nivelUsuario);
                        
                        if (data.senha === "Mudar@123") {
                            window.location.href = 'primeiroacesso.html';
                        } else if(data.nivelUsuario === 0){
                            window.location.href = 'adm.html';
                        }else if(data.nivelUsuario === 1){
                            window.location.href = 'perfilLider.html';
                        }else{
                            window.location.href = 'perfil.html';
                        }
                    });
                } else {
                    const mensagem = 'Usuário ou senha incorreta';
                    mensagemErro.textContent = mensagem;
                }
            })
            .catch(function (error) {
                console.error("Erro na solicitação: " + error);
            });
        }

        form_login.addEventListener('submit', function (e) {
            e.preventDefault();
            validarLogin();
        });
        
    </script>
</body>
</html>