<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="keywords" content="palavras,separadas,por,vírgulas">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0">
	<title>AccentureTalentHub | Cursos</title>
	<link rel="shortcut icon" href="../static/img/logo_accenture.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../static/css/geralstyle.css">
    <link rel="stylesheet" type="text/css" href="../static/css/perfilLider.css">
    <link rel="stylesheet" type="text/css" href="../static/css/perfil.css">   
    <link rel="stylesheet" type="text/css" href="../static/css/curso.css">
    <!-- <link rel="stylesheet" type="text/css" href="../static/css/home.css"> -->


    <!-- Importação dos arquivos CSS para barra de pesquisa -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- Importação dos arquivos Jquary -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/js/script.js"></script>

</head>
<body id="">
    <main>
        <nav id="menu-desktop">
            <ul class="lista_dashboard">
                <li id="logo">
                    <a href="home.html">
                        <img src="../static/img/logo_menu.png">
                    </a>
                </li>
                <li class="active">
                    <a href="curso.html">
                        <img class="icon_menu" src="../static/img/icon_cursos.png">
                    </a>
                </li>
                <li>
                    <a href="salas.html">
                        <img class="icon_menu" src="../static/img/icon_trilhas.png">
                    </a>
                </li>
                <li>
                    <a href="desenvol_pessoal.html">
                        <img class="icon_menu" src="../static/img/icon_dp.png">
                    </a>
                </li>
                <li>
                    <a href="curso_concluido.html">
                        <img class="icon_menu" src="../static/img/icon_cursos_concluidos.png">
                    </a>
                </li>
            </ul>
    
            <ul>
                <li id="icon_usuario_menu" class="lista_dashboard">
                    <a href="perfil.html">
                        <img class="icon_menu" src="../static/img/icon_perfil.png">
                    </a>
                </li>
            </ul>
        </nav>

        <!--  Este nav só será ativado quando as páginas estiverem no modo responsivo! -->
        <!--  INICIO DO NAV RESPONSIVO -->
        <div id="icon-menu-responsivo">
            <img src="../static/img/menu-aberto.png">
        </div>
        
        <nav class="nav-responsivo">
            <ul class="lista_dashboard-responsivo">
                <li id="icon_fechar-responsivo">
                    <img src="../static/img/icon_fechar.png">
                </li>
                <li>
                    <a id="logo-responsivo" href="home.html">
                        <img src="../static/img/logo-responsivo.png">
                        <p>AccentureTalentHub</p>
                    </a>
                </li>
                <li class="active-responsivo">
                    <a class="link-page-responsivo" href="curso.html">
                        <img class="icon_menu-responsivo" src="../static/img/icon_cursos.png">
                        <p>Cursos</p>
                    </a>         
                </li>
                <li>
                    <a class="link-page-responsivo" href="salas.html">
                        <img class="icon_menu-responsivo" src="../static/img/icon_trilhas.png">
                        <p>Salas</p>
                    </a>                
                </li>
                <li>
                    <a class="link-page-responsivo" href="desenvol_pessoal.html">
                        <img class="icon_menu-responsivo" src="../static/img/icon_dp.png">
                        <p>Mural DPS</p>
                    </a> 
                </li>
                <li>
                    <a class="link-page-responsivo" href="curso_concluido.html">
                        <img class="icon_menu-responsivo" src="../static/img/icon_cursos_concluidos.png">
                        <p>Cursos Concluídos</p>
                    </a>
                </li>
            </ul>
            <ul class="lista_dashboard-responsivo">
                <li id="icon_usuario_menu-responsivo" class="lista_dashboard-responsivo">
                    <a class="link-page-responsivo" href="perfil.html">
                        <img class="icon_menu-responsivo" src="../static/img/icon_perfil.png">
                        <p>Perfil</p>
                    </a>
                </li>
            </ul>
        </nav>

        <!--  FIM DO NAV RESPONSIVO -->

        <section id="box_info_dashboard">

            <header style="text-align: left; display: block;">
                <h1 id="title_curso" style="text-align: left;">Perfil</h1>
            </header>

        </section>
        <div id="box_center_perfil">
            <div style="display: flex; flex-direction: column; align-items: center; width: 30%;">
                <div id="box_informacoes_perfil">
                    <div id="poligono">
                        <p>Nível</p>
                        <p style="font-size: 20px;">8</p>
                    </div>
                    <div id="nome_perfil">
                        <P style="font-size: 15px; text-align: center;">Jorge</P>
                    </div>
                </div>
                <div id="box_detalhes_perfil">
                    <img src="../static/img/lider.png">
                    <div id="info_perfil">
                        <div>
                            <h3 style="color: #fff;">Sênior</h3>
                            <p style="text-align: left;">Software Engineering</p>
                        </div>
                        <br>
                        <div id="barra_progresso"></div>
                        <p>950/1000</p>
                    </div>
                </div>
            </div>

            <section id="box_alterar_criar">
                <div id="box_carreira">
                    <div style="display: flex;">
                        <div style="width: 50%;"></div>
                        <h2>Atualize seus Dados</h2>
                    </div>
                    <form id="box_info_metas">
                        <p style="color: #E1BBFD;">Plano de Carreira</p>
                        <div class="box_metas">
                            <p>1.</p>
                            <input class="input_metas" type="text" placeholder="Meta 1">
                            <img src="../static/img/lapis.png">
                        </div>
                        <div class="box_metas">
                            <p>2.</p>
                            <input class="input_metas" type="text" placeholder="Meta 2">
                            <img src="../static/img/lapis.png">
                        </div>
                        <div class="box_metas">
                            <p>3.</p>
                            <input class="input_metas" type="text" placeholder="Meta 3">
                            <img src="../static/img/lapis.png">
                        </div>
                        <input type="submit" id="button_atualizar_plano" name="enviarPlanoCarreira" value="Atualizar Plano">
                    </form>
                
                    <!-- <div style="display: flex; flex-direction: row; align-items: center; margin: 5%">
                        <div class="button_carreira" style="margin-right: 50px;">
                            <img src="../static/img/interativo.png">
                            <p style="color: #E1BBFD;">Atualizar Áreas de Interesse</p>
                        </div>
                        <br>
                        <div class="button_carreira">
                            <img src="../static/img/redefinir-senha.png">
                            <p style="color: #E1BBFD;">Alterar Senha</p>
                        </div>
                    </div> -->
                    
                    <div id="botoes_atualizar_perfil">
                        <button type="button" id="button_area_interesse" onclick="window.location.href='../templates/areainteresse.html'">
                            <img src="../static/img/interativo.png">
                            <p style="color: #E1BBFD;">Atualizar Áreas de Interesse</p>
                        </button>
                        <button type="button" id="button_alterar_senha" >
                            <img src="../static/img/interativo.png">
                            <p style="color: #E1BBFD;">Alterar Senha</p>
                        </button>
                    </div>
                </div>

                <!-- <div style="display: flex; flex-direction: row; align-items: center;">
                            <div class="button_criar" style="margin-right: 10px;">
                                <img style="margin: 10px;" src="../static/img/botao-criar-sala.png">
                                <a href="../templates/criar_sala.html"><p style="color: #3C2245;">Criar Sala</p> </a> 
                            </div>
                            <br>
                            <div class="button_criar">
                                <img style="margin: 10px;" src="../static/img/botao-adicionar-curso.png">

                            <a href="../templates/adicionarCurso.html"> <p style="color: #3C2245;">Adicionar Curso</p></a>
                            </div>
                        </div> -->

                        <!-- <div id="botoes_atualizar_perfil">
                            <button type="button" id="button_criar">
                                <img src="../static/img/botao-criar-sala.png" onclick="window.location.href='../templates/criar_sala.html'">
                                <p style="color: #3C2245;">Criar Sala</p>
                            </button>
                            <button type="button" id="button_add_Curso" onclick="window.location.href='../templates/adicionarCurso.html'">
                                <img src="../static/img/botao-adicionar-curso.png">
                                <p style="color: #3C2245;">Adicionar Curso</p>
                            </button>
                        </div> -->

                <div id="botoes_criar">
                    <button type="button" id="button_criar_sala">
                        <img src="../static/img/botao-criar-sala.png" onclick="window.location.href='../templates/criar_sala.html'">
                        <p style="color: #3C2245;">Criar Sala</p>
                    </button>
                    <button type="button" id="button_add_curso" onclick="window.location.href='../templates/adicionarCurso.html'">
                        <img src="../static/img/botao-adicionar-curso.png">
                        <p style="color: #3C2245;">Adicionar Curso</p>
                    </button>
                </div>
            </section>
            

        </div> 


        <div id="box_equipe" >
            <div style="display: flex;">
                <!-- <div style="width: 50%;"></div> -->
                <h2>Avalie sua equipe</h2>
            </div>
            <ul id="lista_foto">
                <li><img src="../static/img/isabela.png" style="width: 80px; border-radius: 100%;"> <p style="color: #E1BBFD;">Isabela <br> Silva</p> </li>
                <li><img src="../static/img/img_jhonnatas.png" style="width: 80px; border-radius: 100%;"> <p style="color: #E1BBFD;">Jhonnatas <br> Mendonça </p> </li>
                <li><img src="../static/img/karolyna.png" style="width: 80px; border-radius: 100%;"> <p style="color: #E1BBFD;">Karolyna <br> Rolim</p> </li>
                <li><img src="../static/img/keylane.png" style="width: 80px; border-radius: 100%;"> <p style="color: #E1BBFD;">Keylane <br> Cardoso </p> </li>
                <li><img src="../static/img/kevi.png" style="width: 80px; border-radius: 100%;"> <p style="color: #E1BBFD;">Levi <br> Gila </p> </li>
                <li><img src="../static/img/analu.png" style="width: 80px; border-radius: 100%;"> <p style="color: #E1BBFD;">Luisa <br> Ferreira </p> </li>
                <li><img src="../static/img/luiz.png" style="width: 80px; border-radius: 100%;"> <p style="color: #E1BBFD;">Luiz <br> Nery </p> </li>
                <!-- <img src="../static/img/seta ver mais.png" style=" width: 50px; height: 50px; margin-top: 40px; cursor: pointer;"> -->

            </ul>

                <!-- <img src="../static/img/seta ver mais.png" alt=""> -->
            
            <!-- <div class="button_equipe" style="margin-top: 20px; margin-left: 10px; width: 90%; ">
                <p style="color: #E1BBFD;">Digite uma avaliação...</p>
                
            </div> -->
            <forms style="display: flex; margin-top: 20px;  margin-left: 10px; align-items: center; margin-bottom: 20px;">
                <input type="text" class="inputAvaliacaoLider" placeholder="Digite uma avaliação...">
                <button style="background-color: transparent; cursor: pointer; border: none; transform: translate(-50px, 2%); margin-top: 5px;">
                    <img id="botao_avaliacao" src="../static/img/botao-enviar.png">
                </button>
            </forms>
        </div>

        <section class="modal-senha">
            <div style="display: flex; justify-content: space-between;">
                <div></div>
                <img id="fechar_modal-senha" style="width: 15px; cursor: pointer;" src="../static/img/icon_fechar.png">
            </div>
            
            <div id="detalhe_senha">
                <div id="alterar-senha">
                    <div style="display: flex; flex-direction: row; margin-left: 50px;">
                        <img src="../static/img/redefinir-senha.png">
                        <h3 style="color: #fff; font-weight: normal; font-size: 25px;">Alterar Senha</h3>
                    </div>
    
                    <div class="alterar-senha-inputs">
    
                        <h4 style="color: #E1BBFD; font-size: 20px;">Insira sua senha mais recente</h4>
                        <input type="text" style="border-radius: 10px; width: 100%;">
                        
                        <h4 style="color: #E1BBFD; font-size: 20px;">Insira sua nova senha</h4>
                    <input type="text" style="border-radius: 10px; width: 100%;" >
                    <p class="txt_info_curso-senha" style="font-size: 10px;">
                        *Mínimo de 8 caracteres <br>
                        *Letras minúsculas e maiúsculas <br>
                        *Caracteres especiais. <br>
                        *Lembre-se de criar uma senha diferente das que  você já utiliza.</p>
                        
                    <h4 style="color: #E1BBFD; font-size: 20px;">Confirme sua senha</h4>
                    <input type="text" style="border-radius: 10px; width: 100%;">
    
                </div>
                    
                    
                        <input id="altere_Senha" type="submit" name="" value="Cadastrar">
    
                </div>
              
                
            </div>
        </section>


    </main>

    
    
    <footer class="footer_geral">
        <p>© 2023 AccentureTalentHub.Inc | Todos os direitos reservados </p>
    </footer>

    <script>
        $(document).ready(function(){
            $("#button_alterar_senha").click(function() {
                $(".modal-senha").css("display", "flex");
                $("#box_info_dashboard").css("opacity", "0.5");
            });
            
            $("#fechar_modal-senha").click(function() {
                $(".modal-senha").css("display", "none");
                $("#box_info_dashboard").css("opacity", "1");
            })
        });
    </script>


</body>
</html>