<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="keywords" content="palavras,separadas,por,vírgulas">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0">
	<title>AccentureTalentHub | Login</title>
	<link rel="shortcut icon" href="../static/img/logo_accenture.png" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="../static/css/primeiroacesso.css">
    <link rel="stylesheet" type="text/css" href="../static/css/indexstyle.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body id="body_primeiro_acesso">
    <br>
    <section id="box_center">

        <div id="box_center_primeiro_acesso">
            <div class="box_center_txt">

                <div id="center_txt">
                    <p>Bem-vindo a nossa plataforma!</p>
                    <h1>Primeiro ACESSO</h1>
                    <img src="../static/img/chave.png">
                </div>
    
            </div>
    
            <div id="box_login">
                <form id="form_login">
                    <label>Insira sua nova senha</label>
                    <input id="usuarioLogin" type="text" name="usuarioLogin" required>
                    <ul id="lista_primeiro_acesso">
                        <li>* Mínimo de 8 caracteres</li>
                        <li>* Letras minúsculas e maiúsculas</li>
                        <li>* Caracteres especiais.</li>
                        <li>* Lembre-se de criar uma senha diferente das que você já utiliza</li>
                    </ul>
    
                    <label>Confirme sua senha</label>
                    <input id="senhaLogin" type="password" name="senhaLogin" required>
                    <input id="validarLogin" type="submit" name="validarLogin" value="Cadastrar">
                </form>
            </div>
        </div>

        
        

        <section id="box_name_plataform">
            <div class="line"></div>
            <p>AccentureTalentHub</p>
            <div class="line"></div>
        </section>

        <footer id="footer_login">
            <p>© 2023 AccentureTalentHub.Inc | Todos os direitos reservados </p>
        </footer>
    </section>
	

	

	
	<script>
        $(document).ready(function(){
            $("#box_center").fadeIn(2000);
            $("#box_center").css("display", "flex");

            $("#validarLogin").click(function() {
                window.location.href = 'areainteresse.html';
            })

        });



    </script>
</body>
</html>