<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="keywords" content="palavras,separadas,por,vírgulas">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0">
	<title>AccentureTalentHub | Recuperar senha</title>
	<link rel="shortcut icon" href="../static/img/logo_accenture.png" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="../static/css/geralstyle.css">
    <link rel="stylesheet" type="text/css" href="../static/css/indexstyle.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body id="body_login">
    <section id="box_center">
        <div style="width: 500px; height: 100%;" id="box_login">
            <h2>Esqueci minha senha</h2>
            <br>
            <form id="form_login">
                <label>Insira seu e-mail corporativo:</label>
                <input id="" type="text" name="" required>
                <input id="recuperar_senha" type="submit" name="" value="Enviar mensagem">
            </form>
        </div>
        

        <section id="box_name_plataform">
            <div class="line"></div>
            <p>AccentureTalentHub</p>
            <div class="line"></div>
        </section>

        <footer id="footer_login">
            <p>© 2023 AccentureTalentHub.Inc | Todos os direitos reservados </p>
        </footer>
    </section>
	

	



	<script>
        $(document).ready(function(){
            $("#box_center").fadeIn(2000);
            $("#box_center").css("display", "flex");

            $('#recuperar_senha').click(function() {
                alert('E-mail enviado com sucesso!');
                window.location.href = 'primeiroacesso.html';
            })

        });
    </script>
</body>
</html>