<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8">
	<meta name="description" content="">
	<meta name="keywords" content="palavras,separadas,por,vírgulas">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0">
	<title>AccentureTalentHub | Quiz</title>
	<link rel="shortcut icon" href="../static/img/logo_accenture.png" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="../static/css/geralstyle.css">
    <!-- <link rel="stylesheet" type="text/css" href="../static/css/quiz.css"> -->
    <link rel="stylesheet" href="../static/css/resultadoQuiz.css">

</head>
<body>
    <h3 style="color: #E1BBFD; margin: 50px 50px 0;">RESULTADO TESTE  DE PERFIL</h2>
        <h2 style="color: #fff; margin: 0px 50px;">soft skills</h2>

    <center>
        <h1 style="color: #fff; margin-bottom: 50px;">SEUS RESULTADOS</h1>    
    </center> 
    <center>
        <img style="width: 50%;" src="../static/img/grafico.png" alt="">
    </center>


    <div>
        <p style="color: #5B2182; background-color: #E1BBFD; padding: 1%; width: 300px;
        margin-left: 10px; border-radius: 10px;">
            Comunicação - ponto fraco
        </p>
        <p style="color: #fff; margin: 20px;">
            is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
        </p>
    </div>

    <div>
        <p style="color: #5B2182; background-color: #E1BBFD; padding: 1%; width: 300px;
        margin-left: 10px; border-radius: 10px;">
            Persuasão- ponto medio
        </p>
        <p style="color: #fff; margin: 20px;">
            is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
        </p>
    </div>

    <div>
        <p style="color: #5B2182; background-color: #E1BBFD; padding: 1%; width: 300px;
        margin-left: 10px; border-radius: 10px;">
            Criatividade  - ponto forte
        </p>
        <p style="color: #fff; margin: 20px;">
            is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
        </p>
    </div>

    <div>
        <p style="color: #5B2182; background-color: #E1BBFD; padding: 1%; width: 300px;
        margin-left: 10px; border-radius: 10px;">
            Liderança - ponto fraco
        </p>
        <p style="color: #fff; margin: 20px;">
            is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
        </p>
    </div>

    <div>
        <p style="color: #5B2182; background-color: #E1BBFD; padding: 1%; width: 300px;
        margin-left: 10px; border-radius: 10px;">
            IE - ponto medio 
        </p>
        <p style="color: #fff; margin: 20px;">
            is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
        </p>
    </div>

    <!-- <img  style="width: 100px;" src="../static/img/Soft-skills 1.png" alt=""> -->



    <section id="box_name_plataform">
        <div class="line"></div>
        <p>AccentureTalentHub</p>
        <div class="line"></div>
    </section>

    <footer id="footer_login">
        <p>© 2023 AccentureTalentHub.Inc | Todos os direitos reservados </p>
    </footer>
</body>
</html>